:root {
  --primary-500: #143993;
  --primary-400: #2d56a5;
  --primary-50: #EEF1F9;
  --gold: #DAA520;
}
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
header {
  background-image: url("img/Rectangle\ 14.png");
  background-size: cover;
  background-position-x: 40%;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 8vh;
}
header h1 {
  color: white;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 2rem;
  padding: 0px 0.7vw;
}
header h2 {
  color: white;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
}
header p {
  color: white;
  text-align: center;
  font-family: "DM Sans", sans-serif;
  font-weight: medium;
  font-size: 1rem;
  padding: 0px 2vw;
}
header button {
  height: 7vh;
  width: 60vw;
  align-self: center;
  border-radius: 50px;
  background-color: var(--primary-500);
  color: white;
  border: none;
}
.prestations {
  width: 100vw;
  background-color: var(--primary-50);
  display: flex;
  flex-direction: column;
}
.prestations .devis {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 20vh;
  gap: 5px;
}
.prestations .devis h2 {
  color: var(--primary-500);
  text-align: center;
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
}
.prestations .devis p {
  text-align: center;
  font-size: 0.9rem;
  font-family: "DM Sans", sans-serif;
}
.prestations .container-prestations {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.prestations .container-prestations .lustrage {
  width: 100vw;
  height: 165px;
  background-image: url('/img/lustrage.png');
  background-size: 100vw;
  background-repeat: no-repeat;
}
.prestations .container-prestations .lustrage div {
  width: 100vw;
  height: 165px;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}
.prestations .container-prestations .phare {
  width: 100vw;
  height: 165px;
  background-image: url('/img/phare.png');
  background-size: 100vw;
  background-repeat: no-repeat;
  background-position-y: 20%;
}
.prestations .container-prestations .phare div {
  width: 100vw;
  height: 165px;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}
.prestations .container-prestations .cuir {
  width: 100vw;
  height: 165px;
  background-image: url('/img/cuir.png');
  background-size: 100vw;
  background-repeat: no-repeat;
}
.prestations .container-prestations .cuir div {
  width: 100vw;
  height: 165px;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}
.prestations .container-prestations .moteur {
  width: 100vw;
  height: 165px;
  background-image: url('/img/moteur.png');
  background-size: 100vw;
  background-repeat: no-repeat;
}
.prestations .container-prestations .moteur div {
  width: 100vw;
  height: 165px;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}
.prestations .container-prestations .siege {
  width: 100vw;
  height: 165px;
  background-image: url('img/siege.png');
  background-size: 100vw;
  background-repeat: no-repeat;
}
.prestations .container-prestations .siege div {
  width: 100vw;
  height: 165px;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}
.prestations .container-prestations .lavage {
  width: 100vw;
  height: 165px;
  background-image: url('img/lavage.png');
  background-size: 100vw;
  background-repeat: no-repeat;
  background-position-y: 40%;
}
.prestations .container-prestations .lavage div {
  width: 100vw;
  height: 165px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.prestations .container-prestations .ceramique {
  width: 100vw;
  height: 165px;
  background-image: url('img/ceramique.png');
  background-size: 100vw;
  background-repeat: no-repeat;
}
.prestations .container-prestations .ceramique div {
  width: 100vw;
  height: 165px;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}
.prestations .container-prestations h3 {
  color: white;
  font-size: 1rem;
  -webkit-text-stroke: 0.5px var(--primary-500);
  font-family: "Roboto", sans-serif;
}
.forfait {
  width: 100vw;
  background-color: var(--primary-50);
}
.forfait .forfaitDevis {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 20vh;
  gap: 3px;
}
.forfait .forfaitDevis h2 {
  color: var(--primary-400);
  text-align: center;
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
}
.forfait .forfaitDevis p {
  text-align: center;
  font-size: 0.9rem;
  font-family: "DM Sans", sans-serif;
}
.forfait .container-forfait {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.forfait .container-forfait .forfait1,
.forfait .container-forfait .forfait2,
.forfait .container-forfait .forfait3 {
  width: 80vw;
  height: 10vh;
  background-color: var(--primary-400);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px 20px 0px 0px;
}
.forfait .container-forfait .forfait1 h3,
.forfait .container-forfait .forfait2 h3,
.forfait .container-forfait .forfait3 h3 {
  color: white;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
.forfait .container-forfait .listeforfait1,
.forfait .container-forfait .listeforfait2,
.forfait .container-forfait .listeforfait3 {
  background-color: white;
  width: 80vw;
  border: solid 1px var(--primary-400);
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 0px 0px 20px 20px;
  margin-bottom: 40px;
}
.forfait .container-forfait .listeforfait1 h4,
.forfait .container-forfait .listeforfait2 h4,
.forfait .container-forfait .listeforfait3 h4 {
  color: var(--primary-400);
  padding-top: 12px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.forfait .container-forfait .listeforfait1 ul,
.forfait .container-forfait .listeforfait2 ul,
.forfait .container-forfait .listeforfait3 ul {
  padding-bottom: 12px;
  font-family: "DM Sans", sans-serif;
  font-size: 0.9rem;
  list-style-type: none;
  padding-left: 2vw;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.forfait .container-forfait .listeforfait1 ul li i,
.forfait .container-forfait .listeforfait2 ul li i,
.forfait .container-forfait .listeforfait3 ul li i {
  color: var(--primary-400);
}
.forfait .container-forfait button {
  height: 7vh;
  width: 75vw;
  align-self: center;
  border-radius: 20px;
  background-color: var(--gold);
  color: white;
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  margin-bottom: 40px;
}
.contact {
  width: 100vw;
  height: 150px;
  background-image: url('/img/photo\ contact.png');
  background-size: 100vw;
  background-repeat: no-repeat;
  background-color: var(--primary-50);
}
.contact .container-contact {
  width: 100vw;
  height: 150px;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.contact .container-contact h2,
.contact .container-contact h3 {
  color: white;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 1.3rem;
}
.avis {
  display: flex;
  flex-direction: column;
}
.avis h2 {
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin-top: 25px;
}
.avis #carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.avis #carousel .review-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 45vh;
}
.avis #carousel .review-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  margin: 5px 0;
  width: calc(100% - 20px);
  box-sizing: border-box;
  width: 80vw;
  line-height: 20px;
}
.avis #carousel .left-arrow,
.avis #carousel .right-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.avis #carousel .left-arrow {
  left: 10px;
}
.avis #carousel .right-arrow {
  right: 10px;
}
.avis #carousel .fa-star {
  color: var(--gold);
}
.partenaire {
  width: 100vw;
  background-color: var(--primary-50);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 45px;
  padding-bottom: 20px;
}
.partenaire h2 {
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin-top: 25px;
}
.partenaire .container-partenaire {
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}
.partenaire .container-partenaire .ligne1,
.partenaire .container-partenaire .ligne2 {
  display: flex;
  gap: 20px;
}
.partenaire .container-partenaire .ligne1 div img,
.partenaire .container-partenaire .ligne2 div img {
  width: 20vw;
  height: 10vh;
}
.partenaire .container-partenaire .ligne1 div:nth-child(2),
.partenaire .container-partenaire .ligne2 div:nth-child(2) {
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding: 0px 20px;
}
.partenaire .container-partenaire .ligne1 {
  border-bottom: 1px solid black;
  padding-bottom: 20px;
}
.map {
  background-image: url('/img/map.png');
  background-repeat: no-repeat;
  background-size: 100vw;
  height: 20vh;
  width: 100vw;
  background-color: var(--primary-50);
  border-top: 3px solid #ffffff;
  border-bottom: 3px solid #ffffff;
}
footer {
  width: 100vw;
  padding: 20px 0px;
  background-color: var(--primary-50);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
footer div {
  margin-left: 10vw;
}
footer div h2 {
  color: var(--primary-500);
  font-size: 1.3rem;
  padding-bottom: 10px;
  font-family: "Roboto", sans-serif;
  text-align: center;
}
footer div p {
  font-family: "DM Sans", sans-serif;
  font-size: 0.9rem;
}
.legal {
  background-color: white;
  width: 100vw;
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.legal div h2 {
  font-size: 1rem;
}
.legal div h2 i:nth-child(1) {
  color: blue;
  font-size: 2rem;
}
.legal div h2 i:nth-child(2) {
  color: #ffee00;
  font-size: 2rem;
}
.legal p {
  font-size: 0.8rem;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  header h1 {
    font-size: 2.8rem;
  }
  header h2 {
    font-size: 2.3rem;
  }
  header p {
    font-size: 1.5rem;
  }
  header button {
    width: 40vw;
    font-size: 1.5rem;
  }
  .prestations .container-prestations .lustrage {
    width: 100vw;
    height: 265px;
  }
  .prestations .container-prestations .lustrage div {
    height: 265px;
  }
  .prestations .container-prestations .lustrage {
    width: 100vw;
    height: 265px;
  }
  .prestations .container-prestations .lustrage div {
    height: 265px;
  }
  .prestations .container-prestations .phare {
    width: 100vw;
    height: 265px;
  }
  .prestations .container-prestations .phare div {
    height: 265px;
  }
  .prestations .container-prestations .cuir {
    width: 100vw;
    height: 265px;
  }
  .prestations .container-prestations .cuir div {
    height: 265px;
  }
  .prestations .container-prestations .moteur {
    width: 100vw;
    height: 265px;
  }
  .prestations .container-prestations .moteur div {
    height: 265px;
  }
  .prestations .container-prestations .siege {
    width: 100vw;
    height: 265px;
  }
  .prestations .container-prestations .siege div {
    height: 265px;
  }
  .prestations .container-prestations .lavage {
    width: 100vw;
    height: 265px;
  }
  .prestations .container-prestations .lavage div {
    height: 265px;
  }
  .prestations .container-prestations .ceramique {
    width: 100vw;
    height: 265px;
  }
  .prestations .container-prestations .ceramique div {
    height: 265px;
  }
  .prestations .container-prestations h3 {
    font-size: 1.8rem;
  }
  .forfait .container-forfait .forfait1 h3,
  .forfait .container-forfait .forfait2 h3,
  .forfait .container-forfait .forfait3 h3 {
    color: white;
    font-size: 1.8rem;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
  }
  .forfait .container-forfait .listeforfait1 h4,
  .forfait .container-forfait .listeforfait2 h4,
  .forfait .container-forfait .listeforfait3 h4 {
    font-size: 1.5rem;
  }
  .forfait .container-forfait .listeforfait1 ul,
  .forfait .container-forfait .listeforfait2 ul,
  .forfait .container-forfait .listeforfait3 ul {
    font-size: 1.3rem;
  }
  .forfait .container-forfait button {
    font-size: 1.5rem;
  }
  .contact {
    height: 350px;
  }
  .contact .container-contact {
    height: 350px;
  }
  .contact .container-contact h2,
  .contact .container-contact h3 {
    font-size: 2rem;
    line-height: 1.5;
  }
  .avis {
    display: flex;
    align-items: center;
  }
  .avis h2 {
    font-size: 2rem;
  }
  .avis #carousel {
    width: 90vw;
  }
  .partenaire h2 {
    font-size: 2rem;
  }
  .partenaire .container-partenaire .ligne1 div img,
  .partenaire .container-partenaire .ligne2 div img {
    height: 15vh;
  }
  .map {
    height: 50vh;
  }
  footer {
    align-items: center;
  }
  footer div {
    width: 70%;
  }
  footer div h2 {
    font-size: 1.8rem;
  }
  footer div p {
    font-size: 1.3rem;
  }
}
@media only screen and (min-width: 1024px) {
  header {
    background-image: url("/img/HEADER-pc.png");
    justify-content: center;
  }
  header nav {
    display: none;
  }
  header h1 {
    display: none;
  }
  header h2 {
    font-size: 2.5rem;
    margin: 0% 10%;
  }
  header p {
    display: none;
  }
  header button {
    display: none;
  }
  article {
    display: flex;
  }
  article .histoire {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 50vw;
    background-color: var(--primary-400);
    color: white;
  }
  article .histoire h2 {
    margin: 0% 10%;
    font-size: 2rem;
    text-align: center;
    padding-top: 20px;
    font-family: "Roboto", sans-serif;
  }
  article .histoire p {
    margin: 0% 10%;
    font-size: 1rem;
    text-align: center;
    font-family: "DM Sans", sans-serif;
  }
  article .video {
    background-image: url('/img/photovideo.png');
    background-size: 50vw;
    background-position-y: bottom;
    background-repeat: no-repeat;
    width: 50vw;
    height: 500px;
  }
}
