:root {
  --primary-500: #143993;
  --primary-400: #2D56A5;
  --primary-300: #668FFC;
  --primary-50: #EEF1F9;
  --gold: #DAA520;
}
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}
header {
  background-image: url("img/Rectangle\ 14.png");
  background-size: cover;
  background-position-x: 40%;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 8vh;
}
header nav {
  width: 100vw;
  height: 8vh;
}
header h1 {
  color: white;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 8vw;
  padding: 0px 0.7vw;
}
header h2 {
  color: white;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 7.5vw;
}
header p {
  color: white;
  text-align: center;
  font-family: "DM Sans", sans-serif;
  font-weight: medium;
  font-size: 6vw;
  padding: 0px 2vw;
}
header button {
  height: 7vh;
  width: 60vw;
  align-self: center;
  border-radius: 50px;
  background-color: var(--primary-500);
  color: white;
  border: none;
}
.prestations {
  width: 100vw;
  height: 200vh;
  background-color: var(--primary-50);
  display: flex;
  flex-direction: column;
}
.prestations .devis {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 20vh;
  gap: 10px;
}
.prestations .devis h2 {
  color: var(--primary-500);
  text-align: center;
}
.prestations .devis p {
  text-align: center;
}
.prestations .container-prestations .lustrage {
  width: 100vw;
  height: 200px;
  background-image: url('/img/lustrage.png');
  background-size: 100vw;
  background-repeat: no-repeat;
}
.prestations .container-prestations .phare {
  width: 100vw;
  height: 200px;
  background-image: url('/img/phare.png');
  background-size: 100vw;
  background-repeat: no-repeat;
}
.forfaits-wrapper {
  background-color: var(--primary-50);
  font-family: 'DM Sans';
  text-align: center;
}
.forfaits-wrapper header {
  background-image: none;
  height: fit-content;
  width: 100%;
  background-color: var(--primary-400);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.25rem;
  padding-bottom: 2.5rem;
  border-bottom-left-radius: 2400px 1000px;
  border-bottom-right-radius: 2400px 1000px;
}
.forfaits-wrapper header .burger-icon {
  background-image: url(img/Hamburger_icon.svg);
  height: 32px;
  aspect-ratio: 1;
}
.forfaits-wrapper header nav {
  display: none;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: #FFF;
}
.forfaits-wrapper header nav ul {
  display: flex;
  gap: 4rem;
}
.forfaits-wrapper header nav ul a {
  color: inherit;
}
.forfaits-wrapper header .socials {
  display: none;
}
.forfaits-wrapper .hero {
  display: hidden;
}
.forfaits-wrapper h1,
.forfaits-wrapper h2,
.forfaits-wrapper h3,
.forfaits-wrapper .forfaits-title {
  font-family: 'Roboto Serif', sans-serif;
  text-transform: uppercase;
}
.forfaits-wrapper h1 {
  font-weight: 900;
  color: var(--primary-500);
}
.forfaits-wrapper main {
  padding: 3.125rem 1.25rem;
}
.forfaits-wrapper .forfaits-smartphoneView .forfaits-card {
  overflow: hidden;
  margin-top: 3.125rem;
  padding-bottom: 1.25rem;
  background-color: white;
  border: 1px solid var(--primary-400);
  border-radius: 1.5625rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
.forfaits-wrapper .forfaits-smartphoneView .forfaits-card h2 {
  padding: 1.875rem 0.625rem;
  background-color: var(--primary-400);
  color: white;
  font-size: 1.375rem;
}
.forfaits-wrapper .forfaits-smartphoneView .forfaits-card > div {
  padding: 0 1.25rem;
  padding-bottom: 1.25rem;
}
.forfaits-wrapper .forfaits-smartphoneView .forfaits-card .forfaits-title {
  color: var(--primary-400);
  font-weight: 700;
  margin-bottom: 1.25rem;
}
.forfaits-wrapper .forfaits-smartphoneView .forfaits-card .forfaits-title h3 {
  margin-bottom: 0.625rem;
  font-weight: 800;
}
.forfaits-wrapper .forfaits-smartphoneView .forfaits-card .deluxe .forfaits-title {
  color: var(--gold);
}
.forfaits-wrapper .forfaits-smartphoneView .forfaits-card .deluxe ul li::before {
  background-color: var(--gold);
}
.forfaits-wrapper .forfaits-smartphoneView .forfaits-card ul {
  text-align: left;
  list-style: none;
}
.forfaits-wrapper .forfaits-smartphoneView .forfaits-card ul li {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.forfaits-wrapper .forfaits-smartphoneView .forfaits-card ul li::before {
  display: block;
  content: '';
  min-width: 1.5rem;
  aspect-ratio: 24/25;
  background-color: var(--primary-400);
  -webkit-mask-image: url("img/Tick-express.svg");
  mask-image: url("img/Tick-express.svg");
}
.forfaits-wrapper .forfaits-smartphoneView .forfaits-card ul li:not(:last-of-type) {
  margin-bottom: 0.625rem;
}
.forfaits-wrapper .forfaits-desktopView {
  display: none;
}
@media only screen and (min-width: 1024px) {
  .forfaits-wrapper {
    background-color: #FFF;
  }
  .forfaits-wrapper header {
    background-color: var(--primary-500);
    padding-bottom: 1rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .forfaits-wrapper header .burger-icon {
    display: none;
  }
  .forfaits-wrapper header nav {
    display: flex;
    width: fit-content;
  }
  .forfaits-wrapper header .socials {
    display: flex;
  }
  .forfaits-wrapper .hero {
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-500);
    color: #FFF;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
    border-bottom-left-radius: 1000px 33%;
    border-bottom-right-radius: 1000px 33%;
  }
  .forfaits-wrapper .hero p {
    max-width: 800px;
  }
  .forfaits-wrapper .forfaits-smartphoneView {
    display: none;
  }
  .forfaits-wrapper .forfaits-desktopView {
    display: flex;
    justify-content: center;
    margin: 4rem 5rem;
  }
  .forfaits-wrapper .forfaits-desktopView table {
    flex: 1;
    color: white;
    border-collapse: collapse;
    border-spacing: 0;
  }
  .forfaits-wrapper .forfaits-desktopView table td img {
    max-width: 24px;
  }
  .forfaits-wrapper .forfaits-desktopView table thead tr > * {
    width: 25%;
  }
  .forfaits-wrapper .forfaits-desktopView table thead tr > *:not(:first-child) {
    background-color: var(--primary-500);
    padding: 0.5rem;
    font-weight: 900;
  }
  .forfaits-wrapper .forfaits-desktopView table tbody .express {
    filter: invert(12%) sepia(96%) saturate(2474%) hue-rotate(219deg) brightness(104%) contrast(94%);
  }
  .forfaits-wrapper .forfaits-desktopView table tbody .deluxe {
    filter: invert(85%) sepia(9%) saturate(6473%) hue-rotate(346deg) brightness(91%) contrast(87%);
  }
  .forfaits-wrapper .forfaits-desktopView table tbody tr:not(:first-child, :last-child) {
    border-bottom: 1px solid #D6D6D6;
  }
  .forfaits-wrapper .forfaits-desktopView table tbody tr:first-child > * {
    background-color: var(--primary-300);
    font-weight: 800;
  }
  .forfaits-wrapper .forfaits-desktopView table tbody tr:first-child :first-child {
    border-top-left-radius: 10% 100%;
  }
  .forfaits-wrapper .forfaits-desktopView table tbody tr :first-child {
    text-align: start;
    color: #000;
    height: 2.5rem;
  }
  .forfaits-wrapper .forfaits-desktopView table tbody tr:last-of-type {
    font-size: 1.25rem;
    font-weight: 800;
  }
  .forfaits-wrapper .forfaits-desktopView table tbody tr:last-of-type :not(:first-child) {
    background-color: var(--primary-500);
  }
  .forfaits-wrapper .forfaits-desktopView table tbody tr:last-of-type :first-child {
    text-align: right;
    padding-right: 0.5rem;
  }
}
