:root {
    --primary-500: #143993;
    --primary-400: rgb(45, 86, 165);
    --primary-50: #EEF1F9;
    --gold: #DAA520;

}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}


header {
    background-image: url("./img/Rectangle\ 14.png");
    background-size: cover;
    background-position-x: 40%;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 8vh;

    nav {
        width: 100vw;
        height: 8vh;

    }

    h1 {
        color: white;
        text-align: center;
        font-family: "Roboto", sans-serif;
        font-weight: bold;
        font-size: 8vw;
        padding: 0px 0.7vw;


    }

    h2 {
        color: white;
        text-align: center;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 7.5vw;

    }

    p {
        color: white;
        text-align: center;
        font-family: "DM Sans", sans-serif;
        font-weight: medium;
        font-size: 6vw;
        padding: 0px 2vw;

    }

    button {
        height: 7vh;
        width: 60vw;
        align-self: center;
        border-radius: 50px;
        background-color: var(--primary-500);
        color: white;
        border: none;
    }

}

.prestations {
    width: 100vw;
    background-color: var(--primary-50);
    display: flex;
    flex-direction: column;

    .devis {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 20vh;
        gap: 5px;


        h2 {
            color: var(--primary-500);
            text-align: center;
            font-size: 2rem;
            font-family: "Roboto", sans-serif;
        }

        p {
            text-align: center;
            font-size: 0.9rem;
            font-family: "DM Sans", sans-serif;

        }
    }

    .container-prestations {
        display: flex;
        flex-direction: column;
        gap: 5px;

        .lustrage {

            width: 100vw;
            height: 165px;
            background-image: url('/img/lustrage.png');
            background-size: 100vw;
            background-repeat: no-repeat;

            div {
                width: 100vw;
                height: 165px;
                background-color: rgba(0, 0, 0, 0.6);
                display: flex;
                align-items: center;
                justify-content: center;
            }


        }


        .phare {

            width: 100vw;
            height: 165px;
            background-image: url('/img/phare.png');
            background-size: 100vw;
            background-repeat: no-repeat;
            background-position-y: 20%;

            div {
                width: 100vw;
                height: 165px;
                background-color: rgba(0, 0, 0, 0.6);
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .cuir {

            width: 100vw;
            height: 165px;
            background-image: url('/img/cuir.png');
            background-size: 100vw;
            background-repeat: no-repeat;

            div {
                width: 100vw;
                height: 165px;
                background-color: rgba(0, 0, 0, 0.6);
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .moteur {

            width: 100vw;
            height: 165px;
            background-image: url('/img/moteur.png');
            background-size: 100vw;
            background-repeat: no-repeat;

            div {
                width: 100vw;
                height: 165px;
                background-color: rgba(0, 0, 0, 0.6);
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .siege {

            width: 100vw;
            height: 165px;
            background-image: url('./img/siege.png');
            background-size: 100vw;
            background-repeat: no-repeat;

            div {
                width: 100vw;
                height: 165px;
                background-color: rgba(0, 0, 0, 0.6);
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .lavage {

            width: 100vw;
            height: 165px;
            background-image: url('./img/lavage.png');
            background-size: 100vw;
            background-repeat: no-repeat;
            background-position-y: 40%;

            div {
                width: 100vw;
                height: 165px;
                background-color: rgba(0, 0, 0, 0.5);
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .ceramique {

            width: 100vw;
            height: 165px;
            background-image: url('./img/ceramique.png');
            background-size: 100vw;
            background-repeat: no-repeat;

            div {
                width: 100vw;
                height: 165px;
                background-color: rgba(0, 0, 0, 0.6);
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        h3 {
            color: white;
            font-size: 1rem;
            -webkit-text-stroke: 0.5px var(--primary-500);
            font-family: "Roboto", sans-serif;
        }
    }
}

.forfait {
    width: 100vw;
    background-color: var(--primary-50);

    .forfaitDevis {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 20vh;
        gap: 3px;


        h2 {
            color: var(--primary-400);
            text-align: center;
            font-size: 2rem;
            font-family: "Roboto", sans-serif;

        }

        p {
            text-align: center;
            font-size: 0.9rem;
            font-family: "DM Sans", sans-serif;

        }
    }

    .container-forfait {
        display: flex;
        flex-direction: column;
        align-items: center;

        .forfait1,
        .forfait2,
        .forfait3 {
            width: 80vw;
            height: 10vh;
            background-color: var(--primary-400);
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 20px 20px 0px 0px;

            h3 {
                color: white;
                font-size: 1rem;
                font-family: "Roboto", sans-serif;
                font-weight: 500;
            }
        }

        .listeforfait1,
        .listeforfait2,
        .listeforfait3 {
            background-color: white;
            width: 80vw;
            border: solid 1px var(--primary-400);
            display: flex;
            flex-direction: column;
            gap: 20px;
            border-radius: 0px 0px 20px 20px;
            margin-bottom: 40px;

            h4 {
                color: var(--primary-400);
                padding-top: 12px;
                text-align: center;
                font-family: "Roboto", sans-serif;
                font-weight: 400;
            }

            ul {
                padding-bottom: 12px;
                font-family: "DM Sans", sans-serif;
                font-size: 0.9rem;
                list-style-type: none;
                padding-left: 2vw;
                display: flex;
                flex-direction: column;
                gap: 5px;

                li {

                    i {
                        color: var(--primary-400);
                    }
                }
            }
        }

        button {
            height: 7vh;
            width: 75vw;
            align-self: center;
            border-radius: 20px;
            background-color: var(--primary-400);
            color: white;
            border: none;
            font-family: "Roboto", sans-serif;
            font-weight: 500;
            margin-bottom: 40px;
        }
    }
}

.contact {
    width: 100vw;
    height: 150px;
    background-image: url('/img/photo\ contact.png');
    background-size: 100vw;
    background-repeat: no-repeat;
    background-color: var(--primary-50);


    .container-contact {
        width: 100vw;
        height: 150px;
        background-color: rgba(0, 0, 0, 0.6);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;

        h2,
        h3 {
            color: white;
            font-family: "Roboto", sans-serif;
            text-align: center;
            font-size: 1.3rem;
        }


    }
}

.avis {
    display: flex;
    flex-direction: column;


    h2 {
        font-size: 1.2rem;
        font-family: "Roboto", sans-serif;
        text-align: center;
        margin-top: 25px;
    }

    #carousel {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        .review-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            height: 45vh
        }

        .review-card {
            border: 1px solid #ccc;
            border-radius: 8px;
            padding: 10px;
            margin: 5px 0;
            width: calc(100% - 20px);
            box-sizing: border-box;
            width: 80vw;
            line-height: 20px
        }

        .left-arrow,
        .right-arrow {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
        }

        .left-arrow {
            left: 10px;
        }

        .right-arrow {
            right: 10px;
        }

        .fa-star {
            color: var(--gold);
        }
    }
}

.partenaire {
    height: 35vh;
    width: 100vw;
    background-color: var(--primary-50);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 45px;

    h2 {
        font-size: 1.2rem;
        font-family: "Roboto", sans-serif;
        text-align: center;
        margin-top: 25px;
    }

    .container-partenaire{
        width: 80vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 15px;

        .ligne1,
        .ligne2{
            display: flex;
            gap: 20px;
            div{
                img{
                    width: 20vw;
                    height: 20vw;
                    
                }
            }
            div:nth-child(2){
                border-left: 1px solid black;
                border-right: 1px solid black;
                padding: 0px 20px;

            }

        }

        .ligne1{
            border-bottom: 1px solid black;
            padding-bottom: 20px;
        }
        
    }
}

.map {
    background-image: url('/img/map.png');
    background-repeat: no-repeat;
    background-size: 100vw;
    height: 20vh;
    width: 100vw;
    background-color: var(--primary-50);
    border-top: 3px solid rgb(255, 255, 255);
    border-bottom: 3px solid rgb(255, 255, 255);
}

footer {
    width: 100vw;
    height: 40vh;
    background-color: var(--primary-50);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    

    div {
        margin-left: 10vw;

        h2 {
            color: var(--primary-500);
            font-size: 1.3rem;
            padding-bottom: 10px;
            font-family: "Roboto", sans-serif;
        }

        p {
            font-family: "DM Sans", sans-serif;
            font-size: 0.9rem;
        }
    }
}

.legal {
    background-color: white;
    width: 100vw;
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

    div {
        h2 {
            font-size: 1rem;

            i:nth-child(1) {
                color: blue;
                font-size: 2rem;
            }

            i:nth-child(2) {
                color: rgb(255, 238, 0);
                font-size: 2rem;
            }
        }
    }

    p {
        font-size: 0.8rem;
        text-align: center;
    }


}