:root{
  --primary-500: #143993;
  --primary-400: #668FFC;
  --primary-50: #EEF1F9;
  --gold: #DAA520;
}

*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body{

  p{
    font-family: "DM Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
    margin: 3vw;
    text-align: center;

  }

  h2{
    color: var(--primary-500);
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    padding: 15vw;
    text-align: center;
  }

}

header {
  background-image: url('/img/traitement\ cuir.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center; 
  align-items: center; 
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1;
  }

  .menuPc{
    display: none;
  }
  
  .menuburger{
    display: none;
    position: absolute;
    z-index: 2; 
  }

  .headerContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2; 
  }
  
  h3{
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: #EEF1F9;
    margin: 1vw; 

  }

  h1{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
    font-size: 7vw;
  }
  
}


.section1{
 
  p{
    font-family: "DM Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
    margin: 8vw;

  }
  
  img{
    width: 300px; 
    height: auto;

  }
  .container-section1 {
    display: flex;
    flex-direction: column;
  }

}

.section2{
  background-color: var(--primary-50);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  ul{
    color: var(--primary-500);
    font-family: "DM Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
    margin: 6vw;
  
  }

  button{
    background-color: var(--primary-500);
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    padding: 2vw;
    border-radius: 10vw;
    margin-bottom: 6vw;
  }

}

.contact{
  background-image: url("/img/contact.jpg");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1;
  }

  .h2question{
    color: var(--primary-50);
    position: relative;
    z-index: 2; 
  }

  .h3telephone{
    color: var(--primary-50);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    position: relative;
    z-index: 2; 
  }

  
}

footer{
  background-color: var(--primary-50);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;

  .container-map{
    background-image: url(./img/mapnbcleaner.png);
    background-size:cover;
    background-position: center;
    width: 100vw;
    height: 100vw;
  }

  .container2{
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }

  .legal{
    background-color: white;
    width: 100vw;
  }

  .socialnetwork{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 6vw;
  }

}

@media only screen and (min-width: 768px){
  body{

    p{
      margin: 1vw;
    }
  
    h2{
      padding: 2vw;

    }
  }
  header {
    width: 100vw;
    height: 40vw;
  }
  .section1{
    padding: 6vw;
 
    p{
      margin: 4vw;
    }
    .container-section1 {
      display: flex;
      flex-direction: row;
    }

    .container1-section1,
    #container2-image {
      flex-basis: 50%;
    }
  }




  
}