:root {
    --primary-500: #143993;
    --primary-400: #2D56A5;
    --primary-300: #668FFC;
    --primary-50: #EEF1F9;
    --gold: #DAA520;

}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

header {
    background-image: url("./img/Rectangle\ 14.png");
    background-size: cover;
    background-position-x: 40%;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 8vh;


    nav {
        width: 100vw;
        height: 8vh;

    }   
        // h1 {
        //     color: white;
        //     text-align: center;
        //     font-family: "Roboto", sans-serif;
        //     font-weight: bold;
        //     font-size: 2rem;
        //     padding: 0px 0.7vw;
        //     margin: 0 10vw;

        // }

        h2 {
            color: white;
            text-align: center;
            font-family: "Roboto", sans-serif;
            font-weight: 500;
            font-size: 1.5rem;
            margin: 0 10vw;


        }

        p {
            color: white;
            text-align: center;
            font-family: "DM Sans", sans-serif;
            font-weight: medium;
            font-size: 1rem;
            padding: 0px 0.7vw;
            margin: 0 10vw;
        }

        button {
            height: 7vh;
            width: 60vw;
            align-self: center;
            border-radius: 50px;
            background-color: var(--primary-500);
            color: white;
            border: none;
        }

    
}

article {
    display: none;

    .histoire {
        display: flex;
        flex-direction: column;
        gap: 40px;
        width: 100vw;
        background-color: var(--primary-400);
        color: white;


        h2 {
            margin: 0% 10%;
            font-size: 1.2rem;
            text-align: center;
            padding-top: 20px;
            font-family: "Roboto", sans-serif;
        }

        p {
            margin: 0% 6%;
            font-size: 0.8rem;
            text-align: center;
            font-family: "DM Sans", sans-serif;
            padding-bottom: 20px;
        }
    }

}

.prestations {
    width: 100vw;
    background-color: var(--primary-50);
    display: flex;
    flex-direction: column;

    .devis {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 20vh;
        gap: 5px;

        h2 {
            color: var(--primary-500);
            text-align: center;
            font-size: 2rem;
            font-family: "Roboto", sans-serif;
        }

        p {
            text-align: center;
            font-size: 0.9rem;
            font-family: "DM Sans", sans-serif;

        }
    }

    .container-prestations {

        display: flex;
        flex-direction: column;
        gap: 5px;

        .lustrage {

            width: 100vw;
            height: 165px;
            background-image: url('/img/lustrage.png');
            background-size: 100vw;
            background-repeat: no-repeat;

            div {
                width: 100vw;
                height: 165px;
                background-color: rgba(0, 0, 0, 0.6);
                display: flex;
                align-items: center;
                justify-content: center;
            }


        }

        .phare {

            width: 100vw;
            height: 165px;
            background-image: url('/img/phare.png');
            background-size: 100vw;
            background-repeat: no-repeat;
            background-position-y: 20%;

            div {
                width: 100vw;
                height: 165px;
                background-color: rgba(0, 0, 0, 0.6);
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .cuir {

            width: 100vw;
            height: 165px;
            background-image: url('/img/cuir.png');
            background-size: 100vw;
            background-repeat: no-repeat;

            div {
                width: 100vw;
                height: 165px;
                background-color: rgba(0, 0, 0, 0.6);
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .moteur {

            width: 100vw;
            height: 165px;
            background-image: url('/img/moteur.png');
            background-size: 100vw;
            background-repeat: no-repeat;

            div {
                width: 100vw;
                height: 165px;
                background-color: rgba(0, 0, 0, 0.6);
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .siege {

            width: 100vw;
            height: 165px;
            background-image: url('./img/siege.png');
            background-size: 100vw;
            background-repeat: no-repeat;

            div {
                width: 100vw;
                height: 165px;
                background-color: rgba(0, 0, 0, 0.6);
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .lavage {

            width: 100vw;
            height: 165px;
            background-image: url('./img/lavage.png');
            background-size: 100vw;
            background-repeat: no-repeat;
            background-position-y: 40%;

            div {
                width: 100vw;
                height: 165px;
                background-color: rgba(0, 0, 0, 0.5);
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .ceramique {

            width: 100vw;
            height: 165px;
            background-image: url('./img/ceramique.png');
            background-size: 100vw;
            background-repeat: no-repeat;

            div {
                width: 100vw;
                height: 165px;
                background-color: rgba(0, 0, 0, 0.6);
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        h3 {
            color: white;
            font-size: 1rem;
            -webkit-text-stroke: 0.5px var(--primary-500);
            font-family: "Roboto", sans-serif;
        }
    }
}

.prestationsPc {
    display: none;
}

.wave {
    display: none;
}

.forfait {
    width: 100vw;
    background-color: var(--primary-50);

    .forfaitDevis {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 20vh;
        gap: 3px;


        h2 {
            color: var(--primary-400);
            text-align: center;
            font-size: 2rem;
            font-family: "Roboto", sans-serif;

        }

        p {
            text-align: center;
            font-size: 0.9rem;
            font-family: "DM Sans", sans-serif;

        }
    }

    .container-forfait {
        display: flex;
        flex-direction: column;
        align-items: center;

        .forfait1,
        .forfait2,
        .forfait3 {
            width: 80vw;
            height: 10vh;
            background-color: var(--primary-400);
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 20px 20px 0px 0px;

            h3 {
                color: white;
                font-size: 1rem;
                font-family: "Roboto", sans-serif;
                font-weight: 500;
            }
        }

        .listeforfait1,
        .listeforfait2,
        .listeforfait3 {
            background-color: white;
            width: 80vw;
            border: solid 1px var(--primary-400);
            display: flex;
            flex-direction: column;
            gap: 20px;
            border-radius: 0px 0px 20px 20px;
            margin-bottom: 40px;

            h4 {
                color: var(--primary-400);
                padding-top: 12px;
                text-align: center;
                font-family: "Roboto", sans-serif;
                font-weight: 400;
            }

            ul {
                padding-bottom: 12px;
                font-family: "DM Sans", sans-serif;
                font-size: 0.9rem;
                list-style-type: none;
                padding-left: 2vw;
                display: flex;
                flex-direction: column;
                gap: 5px;

                li {

                    i {
                        color: var(--primary-400);
                    }
                }
            }
        }

        button {
            height: 7vh;
            width: 75vw;
            align-self: center;
            border-radius: 20px;
            background-color: var(--gold);
            color: white;
            border: none;
            font-family: "Roboto", sans-serif;
            font-weight: 500;
            margin-bottom: 40px;
        }
    }
}

.contact {
    width: 100vw;
    height: 150px;
    background-image: url('/img/photo\ contact.png');
    background-size: 100vw;
    background-repeat: no-repeat;
    background-color: var(--primary-50);


    .container-contact {
        width: 100vw;
        height: 150px;
        background-color: rgba(0, 0, 0, 0.6);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;

        h2,
        h3 {
            color: white;
            font-family: "Roboto", sans-serif;
            text-align: center;
            font-size: 1.3rem;
        }


    }
}

.avis {
    display: flex;
    flex-direction: column;


    h2 {
        font-size: 1.2rem;
        font-family: "Roboto", sans-serif;
        text-align: center;
        margin-top: 25px;
    }

    #carousel {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        .review-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            height: 45vh
        }

        .review-card {
            border: 1px solid #ccc;
            border-radius: 8px;
            padding: 10px;
            margin: 5px 0;
            width: calc(100% - 20px);
            box-sizing: border-box;
            width: 80vw;
            line-height: 20px
        }

        .left-arrow,
        .right-arrow {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
        }

        .left-arrow {
            left: 10px;
        }

        .right-arrow {
            right: 10px;
        }

        .fa-star {
            color: var(--gold);
        }
    }
}

.partenaire {
    width: 100vw;
    background-color: var(--primary-50);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 45px;
    padding-bottom: 20px;

    h2 {
        font-size: 1.2rem;
        font-family: "Roboto", sans-serif;
        text-align: center;
        margin-top: 25px;
    }

    .container-partenaire {
        width: 80vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 15px;

        .ligne1,
        .ligne2 {
            display: flex;
            gap: 20px;

            div {
                img {
                    width: 20vw;
                    height: 10vh;

                }
            }

            div:nth-child(2) {
                border-left: 1px solid black;
                border-right: 1px solid black;
                padding: 0px 20px;

            }

        }

        .ligne1 {
            border-bottom: 1px solid black;
            padding-bottom: 20px;
        }

    }
}

.map {
    background-image: url('/img/map.png');
    background-repeat: no-repeat;
    background-size: 100vw;
    height: 20vh;
    width: 100vw;
    background-color: var(--primary-50);
    border-top: 3px solid rgb(255, 255, 255);
    border-bottom: 3px solid rgb(255, 255, 255);
}

footer {
    width: 100vw;
    padding: 20px 0px;
    background-color: var(--primary-50);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;


    div {
        margin-left: 10vw;

        h2 {
            color: var(--primary-500);
            font-size: 1.3rem;
            padding-bottom: 10px;
            font-family: "Roboto", sans-serif;
            text-align: center;
        }

        p {
            font-family: "DM Sans", sans-serif;
            font-size: 0.9rem;
        }
    }
}

.legal {
    background-color: white;
    width: 100vw;
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

    div {
        h2 {
            font-size: 1rem;

            i:nth-child(1) {
                color: blue;
                font-size: 2rem;
            }

            i:nth-child(2) {
                color: rgb(255, 238, 0);
                font-size: 2rem;
            }
        }
    }

    p {
        font-size: 0.8rem;
        text-align: center;
    }


}


// Style pour la page forfaits.html
.forfaits-wrapper {
    background-color: var(--primary-50);
    min-width: 320px;

    font-family: 'DM Sans';
    text-align: center;

    header {
        background-image: none; // Pareil que le commentaire d'en-dessous mais pour une autre règle
        height: fit-content; // Obligé d'utiliser ça à cause de règle précedente (height: 100vh; pour le header)
        width: 100%;
        background-color: var(--primary-400);

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 1.25rem;
        padding-bottom: 2.5rem;

        border-bottom-left-radius: 2400px 1000px;
        border-bottom-right-radius: 2400px 1000px;

        .burger-icon {
            background-image: url(img/Hamburger_icon.svg);
            height: 32px;
            aspect-ratio: 1;
        }

        nav {
            display: none;
            justify-content: center;
            align-items: center;
            text-transform: uppercase;
            color: #FFF;


            ul {
                display: flex;
                gap: 4rem;

                a {
                    color: inherit;
                }
            }
        }

        .socials {
            display: none;
        }
    }

    .hero {
        display: none;
    }

    h1,
    h2,
    h3,
    .forfaits-title {
        font-family: 'Roboto Serif', sans-serif;
        text-transform: uppercase;
    }

    h1 {
        font-weight: 900;
        color: var(--primary-500)
    }

    main {
        padding: 3.125rem 1.25rem;


        .forfaits-smartphoneView {
            .forfaits-card {
                overflow: hidden;
                margin-top: 3.125rem;
                padding-bottom: 1.25rem;
                background-color: white;
                border: 1px solid var(--primary-400);
                border-radius: 1.5625rem;

                display: flex;
                flex-direction: column;
                gap: 1.25rem;

                h2 {
                    padding: 1.875rem 0.625rem;
                    background-color: var(--primary-400);
                    color: white;
                    font-size: 1.375rem;
                }

                &>div {
                    padding: 0 1.25rem;
                    padding-bottom: 1.25rem;
                }

                .forfaits-title {
                    color: var(--primary-400);
                    font-weight: 700;
                    margin-bottom: 1.25rem;

                    h3 {
                        margin-bottom: 0.625rem;
                        font-weight: 800;
                    }
                }

                .deluxe {
                    .forfaits-title {
                        color: var(--gold);
                    }

                    ul {
                        li::before {
                            background-color: var(--gold);
                        }
                    }
                }


                ul {
                    text-align: left;
                    list-style: none;

                    li {
                        display: flex;
                        align-items: center;
                        gap: 1rem;
                    }

                    // marker pour les listes
                    li::before {
                        display: block;
                        content: '';
                        min-width: 1.5rem;
                        aspect-ratio: 24/25;
                        background-color: var(--primary-400);
                        -webkit-mask-image: url("img/Tick-express.svg");
                        mask-image: url("img/Tick-express.svg");
                    }

                    li:not(:last-of-type) {
                        margin-bottom: 0.625rem;
                    }
                }
            }
        }
    }


    .forfaits-desktopView {
        display: none;
    }

}


@media only screen and (min-width: 1024px) {

    // index
    header {
        background-image: url("/img/HEADER-pc.png");
        justify-content: center;
        align-items: center;
        color: white;

        nav {
            display: none;
        }

        h1 {
            display: none;
        }

        h2 {
            font-size: 2.5rem;
            margin: 0% 10%;
        }

        p {
            display: none;
        }

        button {

            display: none;
        }

    }

    article {
        display: flex;

        .histoire {
            display: flex;
            flex-direction: column;
            gap: 40px;
            width: 50vw;
            background-color: var(--primary-400);
            color: white;


            h2 {
                margin: 0% 10%;
                font-size: 2rem;
                text-align: center;
                padding-top: 20px;
                font-family: "Roboto", sans-serif;
            }

            p {
                margin: 0% 10%;
                font-size: 1rem;
                text-align: center;
                font-family: "DM Sans", sans-serif;


            }
        }

        .video {
            background-image: url('/img/photovideo.png');
            background-size: 50vw;
            background-position-y: bottom;
            background-repeat: no-repeat;
            width: 50vw;
            height: 500px;
        }
    }

    .prestations {
        display: none;
    }

    .prestationsPc {
        width: 100vw;
        background-color: white;
        display: flex;
        flex-direction: column;

        .devisPc {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100vw;
            height: 20vh;
            gap: 5px;

            h2 {
                color: var(--primary-500);
                text-align: center;
                font-size: 2rem;
                font-family: "Roboto", sans-serif;
            }

            p {
                text-align: center;
                font-size: 0.9rem;
                font-family: "DM Sans", sans-serif;

            }
        }

        .carousel-container-pc {
            display: flex;
            position: relative;
            width: 100%;
            align-items: center;
            justify-content: center;


            .carousel-arrow {
                cursor: pointer;
                font-size: 2rem;
                color: #333;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                z-index: 10;

                &.left-arrow {
                    color: var(--primary-500);
                    left: 30px;
                    display: none;
                }

                &.right-arrow {
                    color: var(--primary-500);
                    right: 30px;

                }
            }

            .container-prestationsPc {
                display: flex;
                gap: 50px;
                overflow: hidden;
                justify-content: center;


                >div {
                    min-width: 25vw;
                    height: 400px;
                    background-size: cover;
                    background-repeat: no-repeat;
                    border-radius: 50px;
                    position: relative;

                    >div {
                        width: 100%;
                        height: 100%;
                        background-color: rgba(0, 0, 0, 0.2);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 50px;
                    }
                }

                .lustragePc {
                    background-image: url('/img/lustrage-pc.jpg');
                    background-position-y: 100%;
                }

                .pharePc {
                    background-image: url('/img/phare-pc.png');
                }

                .cuirPc {
                    background-image: url('/img/cuir-pc.png');
                }

                .moteurPc {
                    background-image: url('/img/moteur-pc.png');
                    background-position-x: 40%;
                }

                .siegePc {
                    background-image: url('/img/siege-pc.png');

                }

                .lavagePc {
                    background-image: url('/img/lavage-pc.png');
                    background-position-y: 80%;
                }

                .ceramiquePc {
                    background-image: url('/img/ceramique-pc.png');
                    background-position-x: 30%;

                }
            }

            h3 {
                color: white;
                font-size: 1rem;
                -webkit-text-stroke: 0.5px var(--primary-500);
                font-family: "Roboto", sans-serif;
            }
        }
    }

    .wave {
        width: 100%;
        display: block;

        svg {
            position: relative;
            display: block;
            height: 150px;
        }
    }

    // forfaits
    .forfaits-wrapper {
        background-color: #FFF;

        header {
            background-color: var(--primary-500);
            padding-bottom: 1rem;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;

            .burger-icon {
                display: none;
            }

            nav {
                display: flex;
                width: fit-content;
            }


            .socials {
                display: flex;
            }
        }

        .hero {
            height: 85vh;
            display: flex;
            justify-content: center;
            align-items: center;

            background-color: var(--primary-500);
            color: #FFF;

            font-family: 'Roboto';
            font-weight: 700;
            font-size: 2rem;
            text-transform: uppercase;

            border-bottom-left-radius: 1000px 33%;
            border-bottom-right-radius: 1000px 33%;

            p {
                max-width: 800px;
            }
        }

        main {
            padding: 3rem 5rem;

            .forfaits-smartphoneView {
                display: none;
            }

            h1 {
                margin-bottom: 1rem;
            }


            .forfaits-desktopView {
                display: flex;
                justify-content: center;
                margin: 3rem auto;
                max-width: 1250px;

                table {
                    flex: 1;
                    color: white;
                    border-collapse: collapse;
                    border-spacing: 0;


                    td {
                        img {
                            max-width: 24px;
                        }
                    }

                    thead {
                        tr {
                            &>* {
                                width: 25%;
                            }

                            // Entêtes sauf la première colonne
                            &>*:not(:first-child) {
                                background-color: var(--primary-500);
                                padding: 0.5rem;
                                font-weight: 900;
                            }
                        }
                    }


                    tbody {

                        // Filtres créés avec https://codepen.io/sosuke/pen/Pjoqqp
                        .express {
                            filter: invert(12%) sepia(96%) saturate(2474%) hue-rotate(219deg) brightness(104%) contrast(94%);
                        }

                        .deluxe {
                            filter: invert(85%) sepia(9%) saturate(6473%) hue-rotate(346deg) brightness(91%) contrast(87%);
                        }

                        tr:not(:first-child, :last-child) {
                            border-bottom: 1px solid #D6D6D6;
                        }




                        // Première ligne du tbody
                        tr:first-child {
                            &>* {
                                background-color: var(--primary-300);
                                font-weight: 800;
                            }

                            // & Première colonne
                            & :first-child {
                                border-top-left-radius: 10% 100%;
                            }
                        }

                        // Première colonne dans le tbody
                        tr :first-child {
                            text-align: start;
                            color: #000;
                            height: 3rem; // Hauteurs des lignes dans le tbody
                        }


                        // Dernière ligne
                        tr:last-of-type {
                            font-size: 1.25rem;
                            font-weight: 800;

                            // & Sauf première colonne
                            & :not(:first-child) {
                                background-color: var(--primary-500);
                            }

                            // & Première colonne
                            & :first-child {
                                text-align: right;
                                padding-right: 0.5rem;
                            }
                        }
                    }
                }
            }
        }
    }

    .legal {
        background-color: white;
        width: 100vw;
        height: 15vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;

        div {
            h2 {
                font-size: 1rem;

                i:nth-child(1) {
                    color: blue;
                    font-size: 2rem;
                }

                i:nth-child(2) {
                    color: rgb(255, 238, 0);
                    font-size: 2rem;
                }
            }
        }

        p {
            font-size: 0.8rem;
            text-align: center;
        }


    }
}

@media only screen and (min-width: 768px) {
    header {
        h1 {
            font-size: 2.8rem;
        }

        h2 {
            font-size: 2.3rem;
        }

        p {
            font-size: 1.5rem;
        }


        button {
            width: 40vw;
            font-size: 1.5rem;
        }
    }

    .prestations {

        .container-prestations {

            .lustrage {
                width: 100vw;
                height: 265px;

                div {
                    height: 265px;
                }

            }

            .lustrage {
                width: 100vw;
                height: 265px;

                div {
                    height: 265px;
                }

            }

            .phare {
                width: 100vw;
                height: 265px;

                div {
                    height: 265px;
                }

            }

            .cuir {
                width: 100vw;
                height: 265px;

                div {
                    height: 265px;
                }

            }

            .moteur {
                width: 100vw;
                height: 265px;

                div {
                    height: 265px;
                }

            }

            .siege {
                width: 100vw;
                height: 265px;

                div {
                    height: 265px;
                }

            }

            .lavage {
                width: 100vw;
                height: 265px;

                div {
                    height: 265px;
                }

            }

            .ceramique {
                width: 100vw;
                height: 265px;

                div {
                    height: 265px;
                }

            }

            h3 {
                font-size: 1.8rem;
            }
        }
    }

    .forfait {

        .container-forfait {

            .forfait1,
            .forfait2,
            .forfait3 {

                h3 {
                    color: white;
                    font-size: 1.8rem;
                    font-family: "Roboto", sans-serif;
                    font-weight: 500;
                }
            }

            .listeforfait1,
            .listeforfait2,
            .listeforfait3 {

                h4 {
                    font-size: 1.5rem;
                }

                ul {
                    font-size: 1.3rem;

                }
            }

            button {

                font-size: 1.5rem;
            }
        }
    }

    .contact {
        height: 350px;

        .container-contact {
            height: 350px;

            h2,
            h3 {
                font-size: 2rem;
                line-height: 1.5;
            }

        }
    }

    .avis {
        display: flex;
        align-items: center;

        h2 {
            font-size: 2rem;
        }

        #carousel {
            width: 90vw;
        }
    }

    .partenaire {
        h2 {
            font-size: 2rem;
        }

        .container-partenaire {

            .ligne1,
            .ligne2 {
                div {
                    img {
                        height: 15vh;
                    }
                }
            }
        }

    }

    .map {
        height: 50vh;

    }


    footer {
        align-items: center;

        div {
            width: 70%;

            h2 {
                font-size: 1.8rem;
            }

            p {
                font-size: 1.3rem;
            }
        }
    }

}