:root {
  --primary-500: #143993;
  --primary-400: #2D56A5;
  --primary-300: #668FFC;
  --primary-50: #EEF1F9;
  --gold: #DAA520;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
body {
  font-family: "DM Sans";
}
header {
  width: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  align-items: center;
  padding: 1rem 1.25rem;
  padding-bottom: 2.5rem;
}
header #burger-icon {
  background-image: url(../img/Hamburger_icon.svg);
  height: 32px;
  aspect-ratio: 1;
  z-index: 2;
  position: fixed;
  right: 1.25rem;
}
header nav {
  background-color: var(--primary-500);
  opacity: 0.95;
  display: none;
  flex-direction: column;
  align-items: end;
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  padding: 0 2rem;
  font-size: 1.5rem;
  letter-spacing: 0.05rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFF;
  z-index: 1;
}
header nav ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 10rem;
  text-align: end;
}
header nav ul li {
  list-style: none;
  padding: 1.5rem 0;
}
header nav ul li:not(:last-of-type) {
  border-bottom: 1px solid #FFF;
}
header nav ul li a {
  color: #FFF;
}
header nav.shown {
  display: flex;
}
header .socials {
  display: none;
}
h1,
h2,
h3 {
  text-transform: uppercase;
}
.question {
  background-color: #000;
  min-height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 5rem;
  color: #FFF;
  font-size: 0.9rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}
.question a {
  display: block;
  background-color: transparent;
  color: #FFF;
  font-size: 1rem;
  font-weight: inherit;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  border-radius: 50px;
  border: 1px solid var(--primary-300);
}
.question > * {
  position: relative;
}
.question::before {
  content: "";
  position: absolute;
  display: block;
  background-image: url("../img/contactez.png");
  background-size: cover;
  background-position: 50%;
  width: 100%;
  height: 100%;
  filter: opacity(0.5);
}
.avis {
  display: flex;
  flex-direction: column;
}
.avis h2 {
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin-top: 25px;
}
.avis #carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.avis #carousel .review-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 45vh;
}
.avis #carousel .review-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  margin: 5px 0;
  width: calc(100% - 20px);
  box-sizing: border-box;
  width: 80vw;
  line-height: 20px;
}
.avis #carousel .left-arrow,
.avis #carousel .right-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.avis #carousel .left-arrow {
  left: 10px;
}
.avis #carousel .right-arrow {
  right: 10px;
}
.avis #carousel .fa-star {
  color: var(--gold);
}
.partenaire {
  width: 100%;
  background-color: var(--primary-50);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 45px;
  padding-bottom: 20px;
}
.partenaire h2 {
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin-top: 25px;
}
.partenaire .container-partenaire {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}
.partenaire .container-partenaire .ligne1,
.partenaire .container-partenaire .ligne2 {
  display: flex;
  gap: 20px;
}
.partenaire .container-partenaire .ligne1 div img,
.partenaire .container-partenaire .ligne2 div img {
  width: 20vw;
  height: 10vh;
}
.partenaire .container-partenaire .ligne1 div:nth-child(2),
.partenaire .container-partenaire .ligne2 div:nth-child(2) {
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding: 0px 20px;
}
.partenaire .container-partenaire .ligne1 {
  border-bottom: 1px solid black;
  padding-bottom: 20px;
}
.coordonnees {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-50);
  text-align: start;
}
.coordonnees > * {
  flex: 1;
}
.coordonnees .carte {
  background-image: url("../img/map-large.png");
  background-size: cover;
  background-position: 50% 50%;
  min-height: 300px;
}
.coordonnees .infos {
  color: var(--primary-500);
  padding: 1rem 2rem;
}
.coordonnees .infos h3 {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 800;
  letter-spacing: 0.025rem;
  margin-bottom: 2rem;
}
.coordonnees .infos div {
  margin-bottom: 1.5rem;
}
footer {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: 1rem;
}
footer .footer-nav {
  display: none;
}
footer .footer-socials .snapchat-icon {
  color: #000;
}
footer .footer-socials .snapchat-icon .fa-circle {
  color: #ffee00;
}
footer .footer-socials .facebook-icon {
  color: #3b5998;
}
.wrapperAccueil .hero {
  background-image: url("../img/Rectangle\ 14.png");
  background-size: cover;
  background-position-x: 40%;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 8vh;
  padding-top: 10rem;
}
.wrapperAccueil .hero h2 {
  color: white;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  margin: 0 10vw;
}
.wrapperAccueil .hero p {
  color: white;
  text-align: center;
  font-family: "DM Sans", sans-serif;
  font-weight: medium;
  font-size: 1rem;
  padding: 0px 0.7vw;
  margin: 0 10vw;
}
.wrapperAccueil .hero button {
  height: 7vh;
  width: 60vw;
  align-self: center;
  border-radius: 50px;
  background-color: var(--primary-500);
  color: white;
  border: none;
}
.wrapperAccueil article {
  display: none;
}
.wrapperAccueil article .histoire {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100vw;
  background-color: var(--primary-400);
  color: white;
}
.wrapperAccueil article .histoire h2 {
  margin: 0% 10%;
  font-size: 1.2rem;
  text-align: center;
  padding-top: 20px;
  font-family: "Roboto", sans-serif;
}
.wrapperAccueil article .histoire p {
  margin: 0% 6%;
  font-size: 0.8rem;
  text-align: center;
  font-family: "DM Sans", sans-serif;
  padding-bottom: 20px;
}
.wrapperAccueil .prestations {
  width: 100vw;
  background-color: var(--primary-50);
  display: flex;
  flex-direction: column;
}
.wrapperAccueil .prestations .devis {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 20vh;
  gap: 5px;
}
.wrapperAccueil .prestations .devis h2 {
  color: var(--primary-500);
  text-align: center;
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
}
.wrapperAccueil .prestations .devis p {
  text-align: center;
  font-size: 0.9rem;
  font-family: "DM Sans", sans-serif;
}
.wrapperAccueil .prestations .container-prestations {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.wrapperAccueil .prestations .container-prestations .lustrage {
  width: 100vw;
  height: 165px;
  background-image: url('../img/lustrage.png');
  background-size: 100vw;
  background-repeat: no-repeat;
}
.wrapperAccueil .prestations .container-prestations .lustrage div {
  width: 100vw;
  height: 165px;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapperAccueil .prestations .container-prestations .phare {
  width: 100vw;
  height: 165px;
  background-image: url('../img/phare.png');
  background-size: 100vw;
  background-repeat: no-repeat;
  background-position-y: 20%;
}
.wrapperAccueil .prestations .container-prestations .phare div {
  width: 100vw;
  height: 165px;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapperAccueil .prestations .container-prestations .cuir {
  width: 100vw;
  height: 165px;
  background-image: url('../img/cuir.png');
  background-size: 100vw;
  background-repeat: no-repeat;
}
.wrapperAccueil .prestations .container-prestations .cuir div {
  width: 100vw;
  height: 165px;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapperAccueil .prestations .container-prestations .moteur {
  width: 100vw;
  height: 165px;
  background-image: url('../img/moteur.png');
  background-size: 100vw;
  background-repeat: no-repeat;
}
.wrapperAccueil .prestations .container-prestations .moteur div {
  width: 100vw;
  height: 165px;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapperAccueil .prestations .container-prestations .siege {
  width: 100vw;
  height: 165px;
  background-image: url('../img/siege.png');
  background-size: 100vw;
  background-repeat: no-repeat;
}
.wrapperAccueil .prestations .container-prestations .siege div {
  width: 100vw;
  height: 165px;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapperAccueil .prestations .container-prestations .lavage {
  width: 100vw;
  height: 165px;
  background-image: url('../img/lavage.png');
  background-size: 100vw;
  background-repeat: no-repeat;
  background-position-y: 40%;
}
.wrapperAccueil .prestations .container-prestations .lavage div {
  width: 100vw;
  height: 165px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapperAccueil .prestations .container-prestations .ceramique {
  width: 100vw;
  height: 165px;
  background-image: url('../img/ceramique.png');
  background-size: 100vw;
  background-repeat: no-repeat;
}
.wrapperAccueil .prestations .container-prestations .ceramique div {
  width: 100vw;
  height: 165px;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapperAccueil .prestations .container-prestations h3 {
  color: white;
  font-size: 1rem;
  -webkit-text-stroke: 0.5px var(--primary-500);
  font-family: "Roboto", sans-serif;
}
.wrapperAccueil .prestationsPc {
  display: none;
}
.wrapperAccueil .wave {
  display: none;
}
.wrapperAccueil .forfait {
  width: 100vw;
  background-color: var(--primary-50);
}
.wrapperAccueil .forfait .forfaitDevis {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 20vh;
  gap: 3px;
}
.wrapperAccueil .forfait .forfaitDevis h2 {
  color: var(--primary-400);
  text-align: center;
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
}
.wrapperAccueil .forfait .forfaitDevis p {
  text-align: center;
  font-size: 0.9rem;
  font-family: "DM Sans", sans-serif;
}
.wrapperAccueil .forfait .forfaitDevis .btn-express-deluxe {
  display: none;
}
.wrapperAccueil .forfait .container-forfait {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrapperAccueil .forfait .container-forfait .forfait1,
.wrapperAccueil .forfait .container-forfait .forfait2,
.wrapperAccueil .forfait .container-forfait .forfait3 {
  width: 80vw;
  height: 10vh;
  background-color: var(--primary-400);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px 20px 0px 0px;
}
.wrapperAccueil .forfait .container-forfait .forfait1 h3,
.wrapperAccueil .forfait .container-forfait .forfait2 h3,
.wrapperAccueil .forfait .container-forfait .forfait3 h3 {
  color: white;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
.wrapperAccueil .forfait .container-forfait .listeforfait1,
.wrapperAccueil .forfait .container-forfait .listeforfait2,
.wrapperAccueil .forfait .container-forfait .listeforfait3 {
  background-color: white;
  width: 80vw;
  border: solid 1px var(--primary-400);
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 0px 0px 20px 20px;
  margin-bottom: 40px;
}
.wrapperAccueil .forfait .container-forfait .listeforfait1 h4,
.wrapperAccueil .forfait .container-forfait .listeforfait2 h4,
.wrapperAccueil .forfait .container-forfait .listeforfait3 h4 {
  color: var(--primary-400);
  padding-top: 12px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.wrapperAccueil .forfait .container-forfait .listeforfait1 ul,
.wrapperAccueil .forfait .container-forfait .listeforfait2 ul,
.wrapperAccueil .forfait .container-forfait .listeforfait3 ul {
  padding-bottom: 12px;
  font-family: "DM Sans", sans-serif;
  font-size: 0.9rem;
  list-style-type: none;
  padding-left: 2vw;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.wrapperAccueil .forfait .container-forfait .listeforfait1 ul li i,
.wrapperAccueil .forfait .container-forfait .listeforfait2 ul li i,
.wrapperAccueil .forfait .container-forfait .listeforfait3 ul li i {
  color: var(--primary-400);
}
.wrapperAccueil .forfait .container-forfait .listeforfait1 ul .extra-deluxe,
.wrapperAccueil .forfait .container-forfait .listeforfait2 ul .extra-deluxe,
.wrapperAccueil .forfait .container-forfait .listeforfait3 ul .extra-deluxe {
  display: none;
}
.wrapperAccueil .forfait .bouttonAllForfait {
  display: flex;
  justify-content: center;
}
.wrapperAccueil .forfait .bouttonAllForfait button {
  height: 7vh;
  width: 75vw;
  align-self: center;
  border-radius: 20px;
  background-color: var(--gold);
  color: white;
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  margin-bottom: 40px;
}
.wrapperAccueil .forfait .bouttonAllForfait button a {
  text-decoration: none;
  color: white;
}
.wrapperAccueil .forfait .bouttonAllForfait .btnTableauForfait {
  display: none;
}
.wrapperForfaits {
  background-color: var(--primary-50);
  min-width: 320px;
  text-align: center;
}
.wrapperForfaits .navDecoration {
  display: block;
  background-color: var(--primary-400);
  border-bottom-left-radius: 2400px 1000px;
  border-bottom-right-radius: 2400px 1000px;
  min-height: 85px;
}
.wrapperForfaits .hero {
  display: none;
}
.wrapperForfaits h1,
.wrapperForfaits h2,
.wrapperForfaits h3,
.wrapperForfaits .forfaits-title {
  font-family: 'Roboto Serif', sans-serif;
  text-transform: uppercase;
}
.wrapperForfaits h1 {
  font-weight: 900;
  color: var(--primary-500);
}
.wrapperForfaits main {
  padding: 3.125rem 1.25rem;
}
.wrapperForfaits main .forfaits-smartphoneView {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrapperForfaits main .forfaits-smartphoneView .forfaits-card {
  overflow: hidden;
  margin-top: 3.125rem;
  padding-bottom: 1.25rem;
  background-color: white;
  border: 1px solid var(--primary-400);
  border-radius: 1.5625rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
.wrapperForfaits main .forfaits-smartphoneView .forfaits-card h2 {
  padding: 1.875rem 0.625rem;
  background-color: var(--primary-400);
  color: white;
  font-size: 1.375rem;
}
.wrapperForfaits main .forfaits-smartphoneView .forfaits-card > div {
  padding: 0 3rem;
  padding-bottom: 1.25rem;
}
.wrapperForfaits main .forfaits-smartphoneView .forfaits-card .forfaits-title {
  color: var(--primary-400);
  font-weight: 700;
  margin-bottom: 1.25rem;
}
.wrapperForfaits main .forfaits-smartphoneView .forfaits-card .forfaits-title h3 {
  margin-bottom: 0.625rem;
  font-weight: 800;
}
.wrapperForfaits main .forfaits-smartphoneView .forfaits-card .deluxe .forfaits-title {
  color: var(--gold);
}
.wrapperForfaits main .forfaits-smartphoneView .forfaits-card .deluxe ul li::before {
  background-color: var(--gold);
}
.wrapperForfaits main .forfaits-smartphoneView .forfaits-card ul {
  text-align: left;
  list-style: none;
}
.wrapperForfaits main .forfaits-smartphoneView .forfaits-card ul li {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.wrapperForfaits main .forfaits-smartphoneView .forfaits-card ul li::before {
  display: block;
  content: '';
  min-width: 1.5rem;
  aspect-ratio: 24/25;
  background-color: var(--primary-400);
  -webkit-mask-image: url("../img/Tick-express.svg");
  mask-image: url("../img/Tick-express.svg");
}
.wrapperForfaits main .forfaits-smartphoneView .forfaits-card ul li:not(:last-of-type) {
  margin-bottom: 0.625rem;
}
.wrapperForfaits main .forfaits-desktopView {
  display: none;
}
@media only screen and (min-width: 1024px) {
  header {
    background-color: transparent;
    padding: 1rem 5rem;
    justify-content: space-between;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  header #burger-icon {
    display: none;
  }
  header nav {
    background: transparent;
    display: flex;
    position: static;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    padding-right: 0;
    font-size: 1.1rem;
  }
  header nav ul {
    flex-direction: row;
    gap: 4rem;
    margin-top: 0;
    text-align: initial;
  }
  header nav ul li {
    padding: 0;
  }
  header nav ul li:not(:last-of-type) {
    border-bottom: none;
  }
  header nav ul li a {
    color: #FFF;
  }
  header nav ul li:hover {
    border-bottom: 4px solid var(--primary-400);
    transform: scale(1.1);
  }
  header .socials {
    display: flex;
    gap: 1rem;
  }
  header .socials > * {
    font-size: 2rem;
    color: #FFF;
  }
  .question {
    min-height: 680px;
    font-size: 3rem;
  }
  .question a {
    font-size: 4rem;
    padding: 1rem 5rem;
  }
  .coordonnees {
    flex-direction: row;
  }
  footer {
    flex-direction: row;
  }
  footer .footer-nav {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    color: #FFF;
    text-align: left;
  }
  footer .footer-nav ul {
    line-height: 1.75rem;
  }
  footer .footer-nav ul a {
    color: #000;
  }
  .wrapperAccueil article {
    display: flex;
  }
  .wrapperAccueil article .histoire {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 50vw;
    background-color: var(--primary-400);
    color: white;
  }
  .wrapperAccueil article .histoire h2 {
    margin: 0% 10%;
    font-size: 2rem;
    text-align: center;
    padding-top: 20px;
    font-family: "Roboto", sans-serif;
  }
  .wrapperAccueil article .histoire p {
    margin: 0% 10%;
    font-size: 1rem;
    text-align: center;
    font-family: "DM Sans", sans-serif;
  }
  .wrapperAccueil article .video {
    background-image: url('/img/photovideo.png');
    background-size: 50vw;
    background-position-y: bottom;
    background-repeat: no-repeat;
    width: 50vw;
    height: 500px;
  }
  .wrapperAccueil .prestations {
    display: none;
  }
  .wrapperAccueil .prestationsPc {
    width: 100vw;
    background-color: white;
    display: flex;
    flex-direction: column;
  }
  .wrapperAccueil .prestationsPc .devisPc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 20vh;
    gap: 5px;
  }
  .wrapperAccueil .prestationsPc .devisPc h2 {
    color: var(--primary-500);
    text-align: center;
    font-size: 2rem;
    font-family: "Roboto", sans-serif;
  }
  .wrapperAccueil .prestationsPc .devisPc p {
    text-align: center;
    font-size: 0.9rem;
    font-family: "DM Sans", sans-serif;
  }
  .wrapperAccueil .prestationsPc .carousel-container-pc {
    display: flex;
    position: relative;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .wrapperAccueil .prestationsPc .carousel-container-pc .carousel-arrow {
    cursor: pointer;
    font-size: 2rem;
    color: #333;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
  }
  .wrapperAccueil .prestationsPc .carousel-container-pc .carousel-arrow.left-arrow {
    color: var(--primary-500);
    left: 30px;
    display: none;
  }
  .wrapperAccueil .prestationsPc .carousel-container-pc .carousel-arrow.right-arrow {
    color: var(--primary-500);
    right: 30px;
  }
  .wrapperAccueil .prestationsPc .carousel-container-pc .container-prestationsPc {
    display: flex;
    gap: 50px;
    overflow: hidden;
    justify-content: center;
  }
  .wrapperAccueil .prestationsPc .carousel-container-pc .container-prestationsPc > div {
    min-width: 25vw;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50px;
    position: relative;
  }
  .wrapperAccueil .prestationsPc .carousel-container-pc .container-prestationsPc > div > div {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
  }
  .wrapperAccueil .prestationsPc .carousel-container-pc .container-prestationsPc .lustragePc {
    background-image: url('../img/lustrage-pc.jpg');
    background-position-y: 100%;
  }
  .wrapperAccueil .prestationsPc .carousel-container-pc .container-prestationsPc .pharePc {
    background-image: url('../img/phare-pc.png');
  }
  .wrapperAccueil .prestationsPc .carousel-container-pc .container-prestationsPc .cuirPc {
    background-image: url('../img/cuir-pc.png');
  }
  .wrapperAccueil .prestationsPc .carousel-container-pc .container-prestationsPc .moteurPc {
    background-image: url('../img/moteur-pc.png');
    background-position-x: 40%;
  }
  .wrapperAccueil .prestationsPc .carousel-container-pc .container-prestationsPc .siegePc {
    background-image: url('../img/siege-pc.png');
  }
  .wrapperAccueil .prestationsPc .carousel-container-pc .container-prestationsPc .lavagePc {
    background-image: url('../img/lavage-pc.png');
    background-position-y: 80%;
  }
  .wrapperAccueil .prestationsPc .carousel-container-pc .container-prestationsPc .ceramiquePc {
    background-image: url('../img/ceramique-pc.png');
    background-position-x: 30%;
  }
  .wrapperAccueil .prestationsPc .carousel-container-pc h3 {
    color: white;
    font-size: 1rem;
    -webkit-text-stroke: 0.5px var(--primary-500);
    font-family: "Roboto", sans-serif;
  }
  .wrapperAccueil .wave {
    width: 100%;
    display: block;
  }
  .wrapperAccueil .wave svg {
    position: relative;
    display: block;
    height: 150px;
  }
  .wrapperAccueil .forfait {
    display: flex;
    flex-direction: column;
  }
  .wrapperAccueil .forfait .forfaitDevis {
    height: 30vh;
  }
  .wrapperAccueil .forfait .forfaitDevis p {
    padding-bottom: 5vh;
  }
  .wrapperAccueil .forfait .forfaitDevis .btn-express-deluxe {
    display: flex;
    position: relative;
  }
  .wrapperAccueil .forfait .forfaitDevis .btn-express-deluxe div {
    border-radius: 50px;
    width: 20vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-family: "DM Sans", sans-serif;
    font-weight: 800;
    font-size: 1.2rem;
    cursor: pointer;
  }
  .wrapperAccueil .forfait .forfaitDevis .btn-express-deluxe div:nth-child(1) {
    background-color: var(--primary-500);
    color: white;
    z-index: 2;
    margin-right: -50px;
  }
  .wrapperAccueil .forfait .forfaitDevis .btn-express-deluxe div:nth-child(2) {
    background-color: white;
    color: var(--primary-500);
  }
  .wrapperAccueil .forfait .container-forfait {
    flex-direction: row;
    justify-content: center;
    gap: 50px;
  }
  .wrapperAccueil .forfait .container-forfait .globalForfait1,
  .wrapperAccueil .forfait .container-forfait .globalForfait2,
  .wrapperAccueil .forfait .container-forfait .globalForfait3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25vw;
  }
  .wrapperAccueil .forfait .container-forfait .globalForfait1.globalForfait1,
  .wrapperAccueil .forfait .container-forfait .globalForfait2.globalForfait1,
  .wrapperAccueil .forfait .container-forfait .globalForfait3.globalForfait1 {
    order: 2;
  }
  .wrapperAccueil .forfait .container-forfait .globalForfait1.globalForfait2,
  .wrapperAccueil .forfait .container-forfait .globalForfait2.globalForfait2,
  .wrapperAccueil .forfait .container-forfait .globalForfait3.globalForfait2 {
    order: 1;
  }
  .wrapperAccueil .forfait .container-forfait .globalForfait1.globalForfait3,
  .wrapperAccueil .forfait .container-forfait .globalForfait2.globalForfait3,
  .wrapperAccueil .forfait .container-forfait .globalForfait3.globalForfait3 {
    order: 3;
  }
  .wrapperAccueil .forfait .container-forfait .globalForfait1 .forfait1,
  .wrapperAccueil .forfait .container-forfait .globalForfait2 .forfait1,
  .wrapperAccueil .forfait .container-forfait .globalForfait3 .forfait1,
  .wrapperAccueil .forfait .container-forfait .globalForfait1 .forfait2,
  .wrapperAccueil .forfait .container-forfait .globalForfait2 .forfait2,
  .wrapperAccueil .forfait .container-forfait .globalForfait3 .forfait2,
  .wrapperAccueil .forfait .container-forfait .globalForfait1 .forfait3,
  .wrapperAccueil .forfait .container-forfait .globalForfait2 .forfait3,
  .wrapperAccueil .forfait .container-forfait .globalForfait3 .forfait3 {
    width: 25vw;
  }
  .wrapperAccueil .forfait .container-forfait .globalForfait1 .forfait1 h3,
  .wrapperAccueil .forfait .container-forfait .globalForfait2 .forfait1 h3,
  .wrapperAccueil .forfait .container-forfait .globalForfait3 .forfait1 h3,
  .wrapperAccueil .forfait .container-forfait .globalForfait1 .forfait2 h3,
  .wrapperAccueil .forfait .container-forfait .globalForfait2 .forfait2 h3,
  .wrapperAccueil .forfait .container-forfait .globalForfait3 .forfait2 h3,
  .wrapperAccueil .forfait .container-forfait .globalForfait1 .forfait3 h3,
  .wrapperAccueil .forfait .container-forfait .globalForfait2 .forfait3 h3,
  .wrapperAccueil .forfait .container-forfait .globalForfait3 .forfait3 h3 {
    font-size: 1.3rem;
  }
  .wrapperAccueil .forfait .container-forfait .globalForfait1 .listeforfait1,
  .wrapperAccueil .forfait .container-forfait .globalForfait2 .listeforfait1,
  .wrapperAccueil .forfait .container-forfait .globalForfait3 .listeforfait1,
  .wrapperAccueil .forfait .container-forfait .globalForfait1 .listeforfait2,
  .wrapperAccueil .forfait .container-forfait .globalForfait2 .listeforfait2,
  .wrapperAccueil .forfait .container-forfait .globalForfait3 .listeforfait2,
  .wrapperAccueil .forfait .container-forfait .globalForfait1 .listeforfait3,
  .wrapperAccueil .forfait .container-forfait .globalForfait2 .listeforfait3,
  .wrapperAccueil .forfait .container-forfait .globalForfait3 .listeforfait3 {
    width: 25vw;
  }
  .wrapperAccueil .forfait .container-forfait .globalForfait1 .listeforfait1 h4,
  .wrapperAccueil .forfait .container-forfait .globalForfait2 .listeforfait1 h4,
  .wrapperAccueil .forfait .container-forfait .globalForfait3 .listeforfait1 h4,
  .wrapperAccueil .forfait .container-forfait .globalForfait1 .listeforfait2 h4,
  .wrapperAccueil .forfait .container-forfait .globalForfait2 .listeforfait2 h4,
  .wrapperAccueil .forfait .container-forfait .globalForfait3 .listeforfait2 h4,
  .wrapperAccueil .forfait .container-forfait .globalForfait1 .listeforfait3 h4,
  .wrapperAccueil .forfait .container-forfait .globalForfait2 .listeforfait3 h4,
  .wrapperAccueil .forfait .container-forfait .globalForfait3 .listeforfait3 h4 {
    font-size: 1.2rem;
  }
  .wrapperAccueil .forfait .container-forfait .globalForfait1 .listeforfait1 ul,
  .wrapperAccueil .forfait .container-forfait .globalForfait2 .listeforfait1 ul,
  .wrapperAccueil .forfait .container-forfait .globalForfait3 .listeforfait1 ul,
  .wrapperAccueil .forfait .container-forfait .globalForfait1 .listeforfait2 ul,
  .wrapperAccueil .forfait .container-forfait .globalForfait2 .listeforfait2 ul,
  .wrapperAccueil .forfait .container-forfait .globalForfait3 .listeforfait2 ul,
  .wrapperAccueil .forfait .container-forfait .globalForfait1 .listeforfait3 ul,
  .wrapperAccueil .forfait .container-forfait .globalForfait2 .listeforfait3 ul,
  .wrapperAccueil .forfait .container-forfait .globalForfait3 .listeforfait3 ul {
    font-size: 1.1rem;
  }
  .wrapperAccueil .forfait .bouttonAllForfait {
    cursor: pointer;
  }
  .wrapperAccueil .forfait .bouttonAllForfait button a {
    text-decoration: none;
    color: var(--primary-500);
  }
  .wrapperAccueil .forfait .bouttonAllForfait .btnForfaitDeluxe {
    display: none;
  }
  .wrapperAccueil .forfait .bouttonAllForfait .btnTableauForfait {
    display: block;
    width: 25vw;
    border-radius: 50px;
    background-color: var(--primary-50);
    border: 1px solid var(--primary-500);
    color: var(--primary-500);
  }
  .wrapperForfaits {
    background-color: #FFF;
  }
  .wrapperForfaits .navDecoration {
    background-color: var(--primary-500);
    padding: 1rem 5rem;
  }
  .wrapperForfaits .hero {
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-500);
    color: #FFF;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
    border-bottom-left-radius: 1000px 33%;
    border-bottom-right-radius: 1000px 33%;
  }
  .wrapperForfaits .hero p {
    max-width: 800px;
  }
  .wrapperForfaits main {
    padding: 3rem 5rem;
  }
  .wrapperForfaits main .forfaits-smartphoneView {
    display: none;
  }
  .wrapperForfaits main h1 {
    margin-bottom: 1rem;
  }
  .wrapperForfaits main .forfaits-desktopView {
    display: flex;
    justify-content: center;
    margin: 3rem auto;
    max-width: 1250px;
  }
  .wrapperForfaits main .forfaits-desktopView table {
    flex: 1;
    color: white;
    border-collapse: collapse;
    border-spacing: 0;
  }
  .wrapperForfaits main .forfaits-desktopView table td img {
    max-width: 24px;
  }
  .wrapperForfaits main .forfaits-desktopView table thead tr > * {
    width: 25%;
  }
  .wrapperForfaits main .forfaits-desktopView table thead tr > *:not(:first-child) {
    background-color: var(--primary-500);
    padding: 0.5rem;
    font-weight: 900;
  }
  .wrapperForfaits main .forfaits-desktopView table tbody .express {
    filter: invert(12%) sepia(96%) saturate(2474%) hue-rotate(219deg) brightness(104%) contrast(94%);
  }
  .wrapperForfaits main .forfaits-desktopView table tbody .deluxe {
    filter: invert(85%) sepia(9%) saturate(6473%) hue-rotate(346deg) brightness(91%) contrast(87%);
  }
  .wrapperForfaits main .forfaits-desktopView table tbody tr:not(:first-child, :last-child) {
    border-bottom: 1px solid #D6D6D6;
  }
  .wrapperForfaits main .forfaits-desktopView table tbody tr:first-child > * {
    background-color: var(--primary-300);
    font-weight: 800;
  }
  .wrapperForfaits main .forfaits-desktopView table tbody tr:first-child :first-child {
    border-top-left-radius: 10% 100%;
  }
  .wrapperForfaits main .forfaits-desktopView table tbody tr :first-child {
    text-align: start;
    color: #000;
    height: 3rem;
  }
  .wrapperForfaits main .forfaits-desktopView table tbody tr:last-of-type {
    font-size: 1.25rem;
    font-weight: 800;
  }
  .wrapperForfaits main .forfaits-desktopView table tbody tr:last-of-type :not(:first-child) {
    background-color: var(--primary-500);
  }
  .wrapperForfaits main .forfaits-desktopView table tbody tr:last-of-type :first-child {
    text-align: right;
    padding-right: 0.5rem;
  }
}
@media only screen and (min-width: 768px) {
  .wrapperAccueil .prestations .container-prestations .lustrage {
    width: 100vw;
    height: 265px;
  }
  .wrapperAccueil .prestations .container-prestations .lustrage div {
    height: 265px;
  }
  .wrapperAccueil .prestations .container-prestations .lustrage {
    width: 100vw;
    height: 265px;
  }
  .wrapperAccueil .prestations .container-prestations .lustrage div {
    height: 265px;
  }
  .wrapperAccueil .prestations .container-prestations .phare {
    width: 100vw;
    height: 265px;
  }
  .wrapperAccueil .prestations .container-prestations .phare div {
    height: 265px;
  }
  .wrapperAccueil .prestations .container-prestations .cuir {
    width: 100vw;
    height: 265px;
  }
  .wrapperAccueil .prestations .container-prestations .cuir div {
    height: 265px;
  }
  .wrapperAccueil .prestations .container-prestations .moteur {
    width: 100vw;
    height: 265px;
  }
  .wrapperAccueil .prestations .container-prestations .moteur div {
    height: 265px;
  }
  .wrapperAccueil .prestations .container-prestations .siege {
    width: 100vw;
    height: 265px;
  }
  .wrapperAccueil .prestations .container-prestations .siege div {
    height: 265px;
  }
  .wrapperAccueil .prestations .container-prestations .lavage {
    width: 100vw;
    height: 265px;
  }
  .wrapperAccueil .prestations .container-prestations .lavage div {
    height: 265px;
  }
  .wrapperAccueil .prestations .container-prestations .ceramique {
    width: 100vw;
    height: 265px;
  }
  .wrapperAccueil .prestations .container-prestations .ceramique div {
    height: 265px;
  }
  .wrapperAccueil .prestations .container-prestations h3 {
    font-size: 1.8rem;
  }
  .wrapperAccueil .forfait .container-forfait .forfait1 h3,
  .wrapperAccueil .forfait .container-forfait .forfait2 h3,
  .wrapperAccueil .forfait .container-forfait .forfait3 h3 {
    color: white;
    font-size: 1.8rem;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
  }
  .wrapperAccueil .forfait .container-forfait .listeforfait1 h4,
  .wrapperAccueil .forfait .container-forfait .listeforfait2 h4,
  .wrapperAccueil .forfait .container-forfait .listeforfait3 h4 {
    font-size: 1.5rem;
  }
  .wrapperAccueil .forfait .container-forfait .listeforfait1 ul,
  .wrapperAccueil .forfait .container-forfait .listeforfait2 ul,
  .wrapperAccueil .forfait .container-forfait .listeforfait3 ul {
    font-size: 1.3rem;
  }
  .wrapperAccueil .forfait .container-forfait button {
    font-size: 1.5rem;
  }
  .wrapperAccueil .contact {
    height: 350px;
  }
  .wrapperAccueil .contact .container-contact {
    height: 350px;
  }
  .wrapperAccueil .contact .container-contact h2,
  .wrapperAccueil .contact .container-contact h3 {
    font-size: 2rem;
    line-height: 1.5;
  }
  .wrapperAccueil .avis {
    display: flex;
    align-items: center;
  }
  .wrapperAccueil .avis h2 {
    font-size: 2rem;
  }
  .wrapperAccueil .avis #carousel {
    width: 90vw;
  }
  .wrapperAccueil .partenaire h2 {
    font-size: 2rem;
  }
  .wrapperAccueil .partenaire .container-partenaire .ligne1 div img,
  .wrapperAccueil .partenaire .container-partenaire .ligne2 div img {
    height: 15vh;
  }
}
