// =============================
// STYLE COMMUN (template.php)
// =============================
:root {
    --primary-500: #143993;
    --primary-400: #2D56A5;
    --primary-300: #668FFC;
    --primary-50: #EEF1F9;
    --gold: #DAA520;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-family: "DM Sans";
}

// HEADER
header {
    width: 100%;
    background-color: transparent;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;

    align-items: center;
    padding: 1rem 1.25rem;
    padding-bottom: 2.5rem;

    #burger-icon {
        background-image: url(../img/Hamburger_icon.svg);
        height: 32px;
        aspect-ratio: 1;
        z-index: 2;
        position: fixed;
        right: 1.25rem;
    }

    nav {
        background-color: var(--primary-500);
        opacity: 0.95;
        display: none;
        flex-direction: column;
        align-items: end;

        position: fixed;
        top: 0;
        right: 0;

        width: 50%;
        height: 100%;
        padding: 0 2rem;

        font-size: 1.5rem;
        letter-spacing: 0.05rem;
        font-weight: 700;
        text-transform: uppercase;
        color: #FFF;

        z-index: 1;

        ul {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-top: 10rem;
            text-align: end;

            li {
                list-style: none;

                padding: 1.5rem 0;

                &:not(:last-of-type) {
                    border-bottom: 1px solid #FFF;
                }

                a {
                    color: #FFF;
                }
            }

        }

        &.shown {
            display: flex;
        }
    }

    .socials {
        display: none;
    }
}

h1,
h2,
h3 {
    text-transform: uppercase;
}

// Call to action, contactez-nous !
.question {
    background-color: #000;
    min-height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 2rem;

    color: #FFF;
    font-size: 0.9rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;

    a {
        display: block;

        background-color: transparent;

        color: #FFF;
        font-size: 1rem;
        font-weight: inherit;
        text-transform: uppercase;
        letter-spacing: 0.1rem;

        padding: 0.5rem 1rem;
        margin-top: 1rem;
        border-radius: 50px;
        border: 1px solid var(--primary-300);
    }

    &>* {
        position: relative;
    }
}

.question::before {
    content: "";
    position: absolute;
    display: block;
    background-image: url("../img/contactez.png");
    background-size: cover;
    background-position: 50%;
    width: 100%;
    height: 100%;
    filter: opacity(0.5);
}

.avis {
    display: flex;
    flex-direction: column;


    h2 {
        font-size: 1.2rem;
        font-family: "Roboto", sans-serif;
        text-align: center;
    }

    #carousel {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        .review-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            height: 50vh
        }

        .review-card {
            border: 1px solid #ccc;
            border-radius: 8px;
            padding: 10px;
            margin: 5px 0;
            width: calc(100% - 20px);
            box-sizing: border-box;
            width: 80vw;
            line-height: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1); 
        }

        .review-card:hover {
            transform: translateY(-10px); 
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 12px 40px rgba(0, 0, 0, 0.2); 
        }

        .left-arrow,
        .right-arrow {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
        }

        .left-arrow {
            left: 10px;
        }

        .right-arrow {
            right: 10px;
        }

        .fa-star {
            color: var(--gold);
        }
    }
}

.partenaire {
    width: 100%;
    background-color: var(--primary-50);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 45px;
    padding-bottom: 20px;

    h2 {
        font-size: 1.2rem;
        font-family: "Roboto", sans-serif;
        text-align: center;
        margin-top: 25px;
    }

    .container-partenaire {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 15px;

        .ligne1,
        .ligne2 {
            display: flex;
            gap: 20px;

            div {
                img {
                    width: 20vw;
                    height: 10vh;
                }
            }

            div:nth-child(2) {
                border-left: 1px solid black;
                border-right: 1px solid black;
                padding: 0px 20px;

            }

        }

        .ligne1 {
            border-bottom: 1px solid black;
            padding-bottom: 20px;
        }
        
    }
}

// Coordonnées
.coordonnees {
    display: flex;
    flex-direction: column;
    background-color: var(--primary-50);
    text-align: start;

    &>* {
        flex: 1;
    }

    .carte {
        margin-left: 5%;
        width: 90%;
        background-image: url("../img/map-large.png");
        background-size: cover;
        background-position: 50% 50%;
        min-height: 300px;
    }

    .infos {
        color: var(--primary-500);
        padding: 1rem 2rem;

        h3 {
            font-family: 'Roboto', Arial, Helvetica, sans-serif;
            font-weight: 800;
            letter-spacing: 0.025rem;
            margin-bottom: 2rem;
        }

        div {
            margin-bottom: 1.5rem;
        }
    }
}



// FOOTER
footer {
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 1rem;

    .footer-nav {
        display: none;
    }

    .footer-socials {
        .snapchat-icon {
            color: #000;

            .fa-circle {
                color: rgb(255, 238, 0);
            }
        }

        .facebook-icon {
            color: #3b5998;
        }
    }
}


// =============================
// STYLE ACCUEIL (index.php)
// =============================
.wrapperAccueil {
    .hero {
        background-image: url("../img/Rectangle\ 14.png");
        background-size: cover;
        background-position-x: 40%;
        background-repeat: no-repeat;
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 8vh;



        h2 {
            color: white;
            text-align: center;
            font-family: "Roboto", sans-serif;
            font-weight: 500;
            font-size: 1.5rem;
            margin: 0 10vw;


        }

        p {
            color: white;
            text-align: center;
            font-family: "DM Sans", sans-serif;
            font-weight: medium;
            font-size: 1rem;
            padding: 0px 0.7vw;
            margin: 0 10vw;
        }

        button {
            height: 7vh;
            width: 60vw;
            align-self: center;
            border-radius: 50px;
            background-color: var(--primary-500);
            color: white;
            border: none;
        }


    }

    article {
        display: none;

        .histoire {
            display: flex;
            flex-direction: column;
            gap: 40px;
            width: 100vw;
            background-color: var(--primary-400);
            color: white;


            h2 {
                margin: 0% 10%;
                font-size: 1.2rem;
                text-align: center;
                padding-top: 20px;
                font-family: "Roboto", sans-serif;
            }

            p {
                margin: 0% 6%;
                font-size: 0.8rem;
                text-align: center;
                font-family: "DM Sans", sans-serif;
                padding-bottom: 20px;
            }
        }

    }

    .prestations {
        width: 100vw;
        background-color: var(--primary-50);
        display: flex;
        flex-direction: column;

        .devis {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100vw;
            height: 20vh;
            gap: 5px;

            h2 {
                color: var(--primary-500);
                text-align: center;
                font-size: 2rem;
                font-family: "Roboto", sans-serif;
            }

            p {
                text-align: center;
                font-size: 0.9rem;
                font-family: "DM Sans", sans-serif;

            }
        }

        .container-prestations {

            display: flex;
            flex-direction: column;
            gap: 5px;

            .lustrage {

                width: 100vw;
                height: 165px;
                background-image: url('../img/lustrage.jpeg');
                background-position-y: 50%;
                background-size: 100%;
                background-repeat: no-repeat;

                div {
                    width: 100vw;
                    height: 165px;
                    background-color: rgba(0, 0, 0, 0.6);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }


            }

            .phare {

                width: 100vw;
                height: 165px;
                background-image: url('../img/phare.png');
                background-size: 100vw;
                background-repeat: no-repeat;
                background-position-y: 20%;

                div {
                    width: 100vw;
                    height: 165px;
                    background-color: rgba(0, 0, 0, 0.6);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

            .cuir {

                width: 100vw;
                height: 165px;
                background-image: url('../img/cuir.png');
                background-size: 100vw;
                background-repeat: no-repeat;

                div {
                    width: 100vw;
                    height: 165px;
                    background-color: rgba(0, 0, 0, 0.6);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

            .moteur {

                width: 100vw;
                height: 165px;
                background-image: url('../img/moteur.png');
                background-size: 100vw;
                background-repeat: no-repeat;

                div {
                    width: 100vw;
                    height: 165px;
                    background-color: rgba(0, 0, 0, 0.6);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

            .siege {

                width: 100vw;
                height: 165px;
                background-image: url('../img/siege.png');
                background-size: 100vw;
                background-repeat: no-repeat;

                div {
                    width: 100vw;
                    height: 165px;
                    background-color: rgba(0, 0, 0, 0.6);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

            .lavage {

                width: 100vw;
                height: 165px;
                background-image: url('../img/lavage.png');
                background-size: 100vw;
                background-repeat: no-repeat;
                background-position-y: 40%;

                div {
                    width: 100vw;
                    height: 165px;
                    background-color: rgba(0, 0, 0, 0.5);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

            .ceramique {

                width: 100vw;
                height: 165px;
                background-image: url('../img/ceramique.png');
                background-size: 100vw;
                background-repeat: no-repeat;

                div {
                    width: 100vw;
                    height: 165px;
                    background-color: rgba(0, 0, 0, 0.6);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

            h3 {
                color: white;
                font-size: 1rem;
                -webkit-text-stroke: 0.5px var(--primary-500);
                font-family: "Roboto", sans-serif;
            }
        }
    }

    .prestationsPc {
        display: none;
    }

    .wave {
        display: none;
    }

    .forfait {
        width: 100vw;
        background-color: var(--primary-50);

        .forfaitDevis {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100vw;
            height: 20vh;
            gap: 3px;


            h2 {
                color: var(--primary-400);
                text-align: center;
                font-size: 2rem;
                font-family: "Roboto", sans-serif;

            }

            p {
                text-align: center;
                font-size: 0.9rem;
                font-family: "DM Sans", sans-serif;

            }

            .btn-express-deluxe {
                display: none;
            }
        }

        .container-forfait {
            display: flex;
            flex-direction: column;
            align-items: center;

            .forfait1,
            .forfait2,
            .forfait3 {
                width: 80vw;
                height: 10vh;
                background-color: var(--primary-400);
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 20px 20px 0px 0px;

                h3 {
                    color: white;
                    font-size: 1rem;
                    font-family: "Roboto", sans-serif;
                    font-weight: 500;
                }
            }

            .listeforfait1,
            .listeforfait2,
            .listeforfait3 {
                background-color: white;
                width: 80vw;
                border: solid 1px var(--primary-400);
                display: flex;
                flex-direction: column;
                gap: 20px;
                border-radius: 0px 0px 20px 20px;
                margin-bottom: 40px;

                h4 {
                    color: var(--primary-400);
                    padding-top: 12px;
                    text-align: center;
                    font-family: "Roboto", sans-serif;
                    font-weight: 400;
                }

                ul {
                    padding-bottom: 12px;
                    font-family: "DM Sans", sans-serif;
                    font-size: 0.9rem;
                    list-style-type: none;
                    padding-left: 2vw;
                    display: flex;
                    flex-direction: column;
                    gap: 5px;

                    li {

                        i {
                            color: var(--primary-400);
                        }


                    }

                    .extra-deluxe {
                        display: none;
                    }

                }
            }

        }

        .bouttonAllForfait {
            display: flex;
            justify-content: center;

            button {
                height: 7vh;
                width: 75vw;
                align-self: center;
                border-radius: 20px;
                background-color: var(--gold);
                color: white;
                border: none;
                font-family: "Roboto", sans-serif;
                font-weight: 500;
                margin-bottom: 40px;

                a {
                    text-decoration: none;
                    color: white;
                }

            }

            .btnTableauForfait {
                display: none;
            }
        }

    }


}


// =============================
// STYLE FORFAITS (forfaits.php)
// =============================
.wrapperForfaits {
    background-color: var(--primary-50);
    min-width: 320px;

    // font-family: 'DM Sans';
    text-align: center;

    .navDecoration {
        display: block;
        background-color: var(--primary-400);

        // TODO : Voir si c'est joli
        border-bottom-left-radius: 2400px 1000px;
        border-bottom-right-radius: 2400px 1000px;
        min-height: 85px;
    }

    .hero {
        display: none;
    }

    h1,
    h2,
    h3,
    .forfaits-title {
        font-family: 'Roboto Serif', sans-serif;
        text-transform: uppercase;
    }

    h1 {
        font-weight: 900;
        color: var(--primary-500)
    }

    main {
        padding: 3.125rem 1.25rem;


        .forfaits-smartphoneView {
            display: flex;
            flex-direction: column;
            align-items: center;

            .forfaits-card {
                overflow: hidden;
                margin-top: 3.125rem;
                padding-bottom: 1.25rem;
                background-color: white;
                border: 1px solid var(--primary-400);
                border-radius: 1.5625rem;

                display: flex;
                flex-direction: column;
                gap: 1.25rem;

                h2 {
                    padding: 1.875rem 0.625rem;
                    background-color: var(--primary-400);
                    color: white;
                    font-size: 1.375rem;
                }

                &>div {
                    padding: 0 3rem;
                    padding-bottom: 1.25rem;
                }

                .forfaits-title {
                    color: var(--primary-400);
                    font-weight: 700;
                    margin-bottom: 1.25rem;

                    h3 {
                        margin-bottom: 0.625rem;
                        font-weight: 800;
                    }
                }

                .deluxe {
                    .forfaits-title {
                        color: var(--gold);
                    }

                    ul {
                        li::before {
                            background-color: var(--gold);
                        }
                    }
                }


                ul {
                    text-align: left;
                    list-style: none;

                    li {
                        display: flex;
                        align-items: center;
                        gap: 1rem;
                    }

                    // marker pour les listes
                    li::before {
                        display: block;
                        content: '';
                        min-width: 1.5rem;
                        aspect-ratio: 24/25;
                        background-color: var(--primary-400);
                        -webkit-mask-image: url("../img/Tick-express.svg");
                        mask-image: url("../img/Tick-express.svg");
                    }

                    li:not(:last-of-type) {
                        margin-bottom: 0.625rem;
                    }
                }
            }
        }

        .forfaits-desktopView {
            display: none;
        }
    }
}


@media only screen and (min-width: 1024px) {
    // =============================
    // STYLE COMMUN (template.php)
    // =============================

    // HEADER
    header {
        // background-color: var(--primary-500);
        background-color: transparent;
        padding: 1rem 5rem;



        justify-content: space-between;


        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        #burger-icon {
            display: none;
        }

        nav {
            background: transparent;
            display: flex;
            position: static;
            justify-content: center;
            align-items: center;

            width: auto;
            height: auto;
            padding-right: 0;

            font-size: 1.1rem;


            ul {
                flex-direction: row;
                gap: 4rem;
                margin-top: 0;
                text-align: initial;

                li {
                    padding: 0;

                    &:not(:last-of-type) {
                        border-bottom: none;
                    }

                    a {
                        color: #FFF;
                    }

                    &:hover {
                        border-bottom: 4px solid var(--primary-400);
                        transform: scale(1.1);
                    }
                }

            }
        }


        .socials {
            display: flex;
            gap: 1rem;

            &>* {
                font-size: 2rem;
                color: #FFF;
            }
        }
    }

    // Call to action, contactez-nous !
    .question {
        min-height: 680px;
        font-size: 2.5rem;
        margin-bottom: 2rem;


        a {
            font-size: 2.5rem;
            padding: 1rem 5rem;
        }
    }

    .avis {

        h2 {
            margin-top: 0;
            font-size: 2rem;

        }

        #carousel {

            .review-container {
                height: 40vh;
            }

            .review-card {
                width: 50%;
            }

            .left-arrow {
                left: 150px;
                font-size: 2rem;

            }
    
            .right-arrow {
                right: 150px;
                font-size: 2rem;
            }

        }
    }

    .partenaire {

        h2{
            font-size: 2rem;

        }
        .container-partenaire {
            width: 80%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            gap: 20px;
    
            .ligne1,
            .ligne2 {
                display: flex;

                div {

                    img {
                        width: 100%;
                        
                    }
                }
    
                div:nth-child(2) {
                    border-left: none;
                    border-right: none;
                    padding: 0px 20px;
    
                }
    
            }
    
            .ligne1 {
                padding-bottom: 0px;
                border-bottom: none;
            }
            
        }
    }

    // Coordonnees
    .coordonnees {
        flex-direction: row;
    }

    // Footer
    footer {
        flex-direction: row;

        .footer-nav {
            display: flex;
            flex-direction: column;
            text-transform: uppercase;
            color: #FFF;
            text-align: left;


            ul {
                line-height: 1.75rem;

                a {
                    color: #000;
                }
            }

        }
    }

    // =============================
    // STYLE ACCUEIL (accueil.php)
    // =============================
    .wrapperAccueil {
        article {
            display: flex;

            .histoire {
                display: flex;
                flex-direction: column;
                gap: 40px;
                width: 50vw;
                background-color: var(--primary-400);
                color: white;


                h2 {
                    margin: 0% 10%;
                    font-size: 2rem;
                    text-align: center;
                    padding-top: 20px;
                    font-family: "Roboto", sans-serif;
                }

                p {
                    margin: 0% 10%;
                    font-size: 1rem;
                    text-align: center;
                    font-family: "DM Sans", sans-serif;


                }
            }

            .video {
                background-image: url('../img/photovideo.png');
                background-size: 50vw;
                background-position-y: bottom;
                background-repeat: no-repeat;
                width: 50vw;
                height: 500px;
            }
        }

        .prestations {
            display: none;
        }

        .prestationsPc {
            width: 100vw;
            background-color: white;
            display: flex;
            flex-direction: column;

            .devisPc {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100vw;
                height: 20vh;
                gap: 5px;

                h2 {
                    color: var(--primary-500);
                    text-align: center;
                    font-size: 2rem;
                    font-family: "Roboto", sans-serif;
                }

                p {
                    text-align: center;
                    font-size: 0.9rem;
                    font-family: "DM Sans", sans-serif;

                }
            }

            .carousel-container-pc {
                display: flex;
                position: relative;
                width: 100%;
                align-items: center;
                justify-content: center;


                .carousel-arrow {
                    cursor: pointer;
                    font-size: 2rem;
                    color: #333;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    z-index: 10;

                    &.left-arrow {
                        color: var(--primary-500);
                        left: 30px;
                        display: none;
                    }

                    &.right-arrow {
                        color: var(--primary-500);
                        right: 30px;

                    }
                }

                .container-prestationsPc {
                    display: flex;
                    gap: 50px;
                    overflow: hidden;
                    justify-content: center;


                    >div {
                        min-width: 25vw;
                        height: 400px;
                        background-size: cover;
                        background-repeat: no-repeat;
                        border-radius: 50px;
                        position: relative;

                        >div {
                            width: 100%;
                            height: 100%;
                            background-color: rgba(0, 0, 0, 0.2);
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border-radius: 50px;
                        }
                    }

                    .lustragePc {
                        background-image: url('../img/lustrage.svg');
                        background-position-x: 60%;
                    }

                    .pharePc {
                        background-image: url('../img/phare-pc.png');
                    }

                    .cuirPc {
                        background-image: url('../img/cuir-pc.png');
                    }

                    .moteurPc {
                        background-image: url('../img/moteur-pc.png');
                        background-position-x: 40%;
                    }

                    .siegePc {
                        background-image: url('../img/siege-pc.png');

                    }

                    .lavagePc {
                        background-image: url('../img/lavage-pc.png');
                        background-position-y: 80%;
                    }

                    .ceramiquePc {
                        background-image: url('../img/ceramique-pc.png');
                        background-position-x: 30%;

                    }
                }

                h3 {
                    color: white;
                    font-size: 1rem;
                    -webkit-text-stroke: 0.5px var(--primary-500);
                    font-family: "Roboto", sans-serif;
                }
            }
        }

        .wave {
            width: 100%; 
            display: block;
            overflow: hidden; 
            margin-top: 100px;
        
            svg {
                width: 100%; 
                height: auto; 
                display: block; 
                position: relative;
            }
        }
        

        .forfait {
            display: flex;
            flex-direction: column;

            .forfaitDevis {
                height: 30vh;

                p {
                    padding-bottom: 5vh;
                }

                .btn-express-deluxe {
                    display: flex;
                    position: relative;

                    div {
                        border-radius: 50px;
                        width: 20vw;
                        height: 5vh;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: relative;
                        font-family: "DM Sans", sans-serif;
                        font-weight: 800;
                        font-size: 1.2rem;
                        cursor: pointer;



                        &:nth-child(1) {
                            background-color: var(--primary-500);
                            color: white;
                            z-index: 2;
                            margin-right: -50px;

                        }

                        &:nth-child(2) {
                            background-color: white;
                            color: var(--primary-500);
                        }
                    }

                }

            }

            .container-forfait {
                flex-direction: row;
                justify-content: center;
                gap: 50px;

                .globalForfait1,
                .globalForfait2,
                .globalForfait3 {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 25vw;

                    &.globalForfait1 {
                        order: 2;
                    }

                    &.globalForfait2 {
                        order: 1;
                    }

                    &.globalForfait3 {
                        order: 3;
                    }

                    .forfait1,
                    .forfait2,
                    .forfait3 {
                        width: 25vw;

                        h3 {
                            font-size: 1.3rem;
                        }

                    }

                    .listeforfait1,
                    .listeforfait2,
                    .listeforfait3 {
                        width: 25vw;

                        h4 {
                            font-size: 1.2rem;
                        }

                        ul {
                            font-size: 1.1rem;
                        }

                    }
                }
            }

            .bouttonAllForfait {
                cursor: pointer;

                button {
                    a {
                        text-decoration: none;
                        color: var(--primary-500);
                    }
                }

                .btnForfaitDeluxe {
                    display: none;
                }

                .btnTableauForfait {
                    display: block;
                    width: 25vw;
                    border-radius: 50px;
                    background-color: var(--primary-50);
                    border: 1px solid var(--primary-500);
                    color: var(--primary-500);
                }
            }
        }

    }

    // =============================
    // STYLE FORFAITS (forfaits.php)
    // =============================
    .wrapperForfaits {
        background-color: #FFF;

        .navDecoration {
            background-color: var(--primary-500);
            padding: 1rem 5rem;
        }

        .hero {
            height: 85vh;
            display: flex;
            justify-content: center;
            align-items: center;

            background-color: var(--primary-500);
            color: #FFF;

            font-family: 'Roboto';
            font-weight: 700;
            font-size: 2rem;
            text-transform: uppercase;

            border-bottom-left-radius: 1000px 33%;
            border-bottom-right-radius: 1000px 33%;

            p {
                max-width: 800px;
            }
        }

        main {
            padding: 3rem 5rem;

            .forfaits-smartphoneView {
                display: none;
            }

            h1 {
                margin-bottom: 1rem;
            }


            .forfaits-desktopView {
                display: flex;
                justify-content: center;
                margin: 3rem auto;
                max-width: 1250px;

                table {
                    flex: 1;
                    color: white;
                    border-collapse: collapse;
                    border-spacing: 0;


                    td {
                        img {
                            max-width: 24px;
                        }
                    }

                    thead {
                        tr {
                            &>* {
                                width: 25%;
                            }

                            // Entêtes sauf la première colonne
                            &>*:not(:first-child) {
                                background-color: var(--primary-500);
                                padding: 0.5rem;
                                font-weight: 900;
                            }
                        }
                    }


                    tbody {

                        // Filtres créés avec https://codepen.io/sosuke/pen/Pjoqqp
                        .express {
                            filter: invert(12%) sepia(96%) saturate(2474%) hue-rotate(219deg) brightness(104%) contrast(94%);
                        }

                        .deluxe {
                            filter: invert(85%) sepia(9%) saturate(6473%) hue-rotate(346deg) brightness(91%) contrast(87%);
                        }

                        tr:not(:first-child, :last-child) {
                            border-bottom: 1px solid #D6D6D6;
                        }




                        // Première ligne du tbody
                        tr:first-child {
                            &>* {
                                background-color: var(--primary-300);
                                font-weight: 800;
                            }

                            // & Première colonne
                            & :first-child {
                                border-top-left-radius: 10% 100%;
                            }
                        }

                        // Première colonne dans le tbody
                        tr :first-child {
                            text-align: start;
                            color: #000;
                            height: 3rem; // Hauteurs des lignes dans le tbody
                        }


                        // Dernière ligne
                        tr:last-of-type {
                            font-size: 1.25rem;
                            font-weight: 800;

                            // & Sauf première colonne
                            & :not(:first-child) {
                                background-color: var(--primary-500);
                            }

                            // & Première colonne
                            & :first-child {
                                text-align: right;
                                padding-right: 0.5rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 1440px) {
    // =============================
    // STYLE ACCUEIL (index.php)
    // =============================

    .wrapperAccueil {
        .hero {
            background-size: 100%;


            h2{
                font-size: 3rem;
            }

            p{
                font-size: 2rem;
            }

            button{
                width: 20vw;
            }
        }

        article {

            .histoire{
        
                p{
                  font-size: 1.2rem;
                }
            }
        }

        .prestationsPc {

                .container-prestationsPc {

                    .lustragePc {
                        background-image: url('../img/lustrage.svg');
                        background-position-y: 50%;
                    }
                }
            }
        


        .avis {
    
            #carousel {
    
    
                .left-arrow {
                    left: 250px;
                    font-size: 2rem;
    
                }
        
                .right-arrow {
                    right: 250px;
                    font-size: 2rem;
                }
    
            }
        }
    }    
}

